.sectionNo {
    flex: 1;
    position: relative;
    line-height: 3.75rem;
    font-weight: 600;
  }
  .sectionInfo {
    width: 7.5rem;
    border-radius: var(--br-980xl);
    background-color: var(--color-gray-500);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-11xl) var(--padding-29xl);
    box-sizing: border-box;
  }
  .sectionTitle {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    line-height: 3.75rem;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    min-width: 20rem;
  }
  .sectionContent {
    align-self: stretch;
    background-color: var(--color-gray-400);
    border-bottom: 1px solid var(--color-gainsboro-500);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: var(--padding-81xl) 24.625rem var(--padding-79xl);
    gap: var(--gap-21xl);
    text-align: center;
    font-size: var(--font-size-29xl);
    color: var(--default-white);
    font-family: var(--font-alegreya-sans-sc);
  }