.professionals {
    margin: 0;
    width: 379px;
    position: relative;
    font-size: inherit;
    line-height: 76px;
    font-weight: 600;
    display: inline-block;
    max-width: 100%;
  }
  .appleIsThe,
  .blankLine,
  .blankLine1,
  .ifYourClient,
  .ourPlanningTool,
  .youCanEasily {
    margin: 0;
  }
  .appleIsTheContainer,
  .label {
    position: relative;
    font-size: var(--font-size-5xl);
    font-weight: 600;

    display: inline-block;
  }
  .appleIsTheContainer {
    width: 806px;
    line-height: 36px;
    max-width: 100%;
  }
  .label {
    line-height: 24px;
    text-transform: capitalize;
    
    text-align: left;
    min-width: 125px;
  }
  .button,
  .content {
    display: flex;
    align-items: center;
  }
  .button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xl) var(--padding-13xl);
    background-color: var(--color-royalblue);
    border-radius: var(--br-31xl);
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    white-space: nowrap;
  }
  .button1:hover,
  .button:hover {
    background-color: var(--color-dodgerblue);
  }
  .content {
    align-self: stretch;
    background-color: var(--color-gray-100);
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-101xl) var(--padding-xl);
    box-sizing: border-box;
    gap: var(--gap-21xl);
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-45xl);
    color: var(--color-gray-400);
    
  }
  .designDeliverDelight {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    line-height: 60px;
    font-weight: 600;
    
  }
  .creatingASeamless {
    width: 742px;
    position: relative;
    font-size: var(--font-size-5xl);
    line-height: 36px;
    

    display: inline-block;
    max-width: 100%;
  }
  .designDeliverDelightParent {
    width: 816px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .sleekCustomerOffering {
    width: 460px;
    position: relative;
    line-height: 36px;
    font-weight: 600;
    display: inline-block;
    max-width: 100%;
  }
  .appleSystemsAre,
  .itWillShow,
  .weWillProvide {
    margin-bottom: 10px;
  }
  .weWillProvideABeautifulP {
    margin: 0;
    
    font-size: inherit;
    padding-left: var(--padding-2xl);
  }
  .weWillProvideContainer {
    width: 460px;
    position: relative;
    font-size: var(--body-base-text-size);
    line-height: 24px;
    

    display: inline-block;
    max-width: 100%;
  }
  .offeringDetails {
    width: 540px;
    border-radius: var(--br-11xl);
    border: 1px solid var(--color-gainsboro-500);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-29xl) var(--padding-xl) var(--padding-51xl)
      var(--padding-21xl);
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .attractiveCommercialTerms {
    width: 460px;
    position: relative;
    line-height: 36px;
    font-weight: 600;
    display: inline-block;
    max-width: 100%;
  }
  .tradeRebatesAvailable,
  .transparentPricing {
    margin-bottom: 10px;
  }
  .tradeRebatesAvailablePlea {
    margin: 0;
    
    font-size: inherit;
    padding-left: var(--padding-2xl);
  }
  .tradeRebatesAvailableContainer {
    width: 453px;
    position: relative;
    font-size: var(--body-base-text-size);
    line-height: 24px;
    

    display: inline-block;
    max-width: 100%;
  }
  .offeringDetails1 {
    width: 540px;
    border-radius: var(--br-11xl);
    border: 1px solid var(--color-gainsboro-500);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-29xl) var(--padding-xl) 56px var(--padding-21xl);
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .easyDesignProcess {
    width: 221px;
    position: relative;
    line-height: 36px;
    font-weight: 600;
    display: inline-block;
  }
  .anyProfessional,
  .ourClickThroughTool {
    margin-bottom: 10px;
  }
  .anyProfessionalArchitect {
    margin: 0;
    
    font-size: inherit;
    padding-left: var(--padding-2xl);
  }
  .anyProfessionalContainer {
    width: 422px;
    position: relative;
    font-size: var(--body-base-text-size);
    line-height: 24px;
    

    display: inline-block;
    max-width: 100%;
    max-height: 260px;
    word-break: break-word;
  }
  .offeringDetails2 {
    width: 540px;
    border-radius: var(--br-11xl);
    border: 1px solid var(--color-gainsboro-500);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-29xl) var(--padding-xl) var(--padding-13xl)
      var(--padding-21xl);
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .delivery {
    width: 460px;
    position: relative;
    line-height: 36px;
    font-weight: 600;
    display: inline-block;
    max-width: 100%;
  }
  .installationIsSimple,
  .theSystemIs,
  .weCanLabel {
    margin-bottom: 10px;
  }
  .theSystemIsSuppliedReadyT {
    margin: 0;
    
    font-size: inherit;
    padding-left: var(--padding-2xl);
  }
  .theSystemIsContainer {
    width: 460px;
    position: relative;
    font-size: var(--body-base-text-size);
    line-height: 24px;
    

    display: inline-block;
    max-width: 100%;
  }
  .offeringDetails3 {
    width: 540px;
    border-radius: var(--br-11xl);
    border: 1px solid var(--color-gainsboro-500);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-29xl) var(--padding-xl) 94px var(--padding-21xl);
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .label1,
  .offeringDetailsParent {
    font-size: var(--font-size-5xl);
    text-align: left;
  }
  .offeringDetailsParent {
    width: 1120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 40px 36px;
    min-height: 840px;
    max-width: 100%;
  }
  .label1 {
    position: relative;
    line-height: 24px;
    text-transform: capitalize;
    font-weight: 600;
    

    display: inline-block;
    min-width: 125px;
  }
  .button1 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xl) var(--padding-13xl);
    background-color: var(--color-royalblue);
    border-radius: var(--br-31xl);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
  .frameParent,
  .professionalsPage {
    background-color: var(--default-white);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .frameParent {
    align-self: stretch;
    border-bottom: 1px solid var(--color-gainsboro-500);
    box-sizing: border-box;
    align-items: center;
    padding: var(--padding-101xl) var(--padding-xl) var(--padding-99xl);
    gap: var(--gap-61xl);
    text-align: center;
    font-size: var(--font-size-29xl);
    color: var(--color-gray-400);
    
  }
  .professionalsPage {
    align-items: flex-start;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1200px) {
    .frameParent {
      gap: var(--gap-21xl);
      padding-top: var(--padding-59xl);
      padding-bottom: var(--padding-58xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1050px) {
    .professionals {
      font-size: var(--font-size-32xl);
      line-height: 61px;
    }
    .designDeliverDelight {
      font-size: var(--font-size-19xl);
      line-height: 48px;
    }
  }
  @media screen and (max-width: 750px) {
    .content {
      padding-top: var(--padding-59xl);
      padding-bottom: var(--padding-59xl);
      box-sizing: border-box;
    }
    .offeringDetailsParent {
      gap: var(--gap-lg);
    }
    .frameParent {
      gap: var(--gap-xl);
      padding-top: var(--padding-32xl);
      padding-bottom: var(--padding-31xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .professionals {
      font-size: var(--font-size-19xl);
      line-height: 46px;
    }
    .appleIsTheContainer {
      font-size: var(--font-size-lgi);
      line-height: 29px;
    }
    .content {
      gap: var(--gap-xl);
    }
    .designDeliverDelight {
      font-size: var(--font-size-10xl);
      line-height: 36px;
    }
    .creatingASeamless,
    .sleekCustomerOffering {
      font-size: var(--font-size-lgi);
      line-height: 29px;
    }
    .offeringDetails {
      padding-top: var(--padding-12xl);
      padding-bottom: var(--padding-26xl);
      box-sizing: border-box;
    }
    .attractiveCommercialTerms {
      font-size: var(--font-size-lgi);
      line-height: 29px;
    }
    .offeringDetails1 {
      padding-top: var(--padding-12xl);
      padding-bottom: var(--padding-17xl);
      box-sizing: border-box;
    }
    .easyDesignProcess {
      font-size: var(--font-size-lgi);
      line-height: 29px;
    }
    .offeringDetails2 {
      padding-top: var(--padding-12xl);
      padding-bottom: var(--padding-2xl);
      box-sizing: border-box;
    }
    .delivery {
      font-size: var(--font-size-lgi);
      line-height: 29px;
    }
    .offeringDetails3 {
      padding-top: var(--padding-12xl);
      padding-bottom: var(--padding-42xl);
      box-sizing: border-box;
    }
  }
  