.testProject {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 2.75rem;
    font-weight: 600;
    font-family: inherit;
    white-space: nowrap;
  }
  .xIcon {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
  }
  .header1,
  .xWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.125rem 0 0;
  }
  .header1 {
    align-self: stretch;
    background-color: var(--default-white);
    border-bottom: 1px solid var(--color-gainsboro-500);
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.75rem 2.5rem 1.625rem 3.75rem;
    top: 0;
    z-index: 99;
    position: sticky;
    gap: var(--gap-xl);
    text-align: center;
    font-size: var(--font-size-13xl);
    color: var(--color-gray-400);
    font-family: var(--font-alegreya-sans-sc);
  }
  .congratulations {
    margin: 0;
    width: 14.813rem;
    position: relative;
    font-size: inherit;
    line-height: 2.75rem;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
  }
  .congratulationsWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
  }
  .projectCompleteReview {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-xl);
    line-height: 2rem;
    font-family: var(--font-abeezee);
  }
  .pMessage {
    text-align: justify;
    position: relative;
    font-size: var(--font-size-xl);
    line-height: 2rem;
    font-family: var(--font-abeezee);
    color: #6E6E73;
  }
  .frameParent,
  .paymentPageInner {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frameParent {
    width: 44.875rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .paymentPageInner {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-13xl);
    color: var(--color-gray-400);
    font-family: var(--font-alegreya-sans-sc);
  }
  .frameChild {
    height: 0.063rem;
    width: 8.125rem;
    position: relative;
    background-color: var(--color-gainsboro-500);
  }
  .paymentPageChild {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
  }
  .projectSummary {
    width: 11.625rem;
    border: 0;
    outline: 0;
    font-weight: 600;
    font-family: var(--font-alegreya-sans-sc);
    font-size: var(--font-size-5xl);
    background-color: transparent;
    height: 2.25rem;
    position: relative;
    line-height: 2.25rem;
    color: var(--color-dimgray-100);
    text-align: left;
    display: inline-block;
    padding: 0;
  }
  .frameItem {
    align-self: stretch;
    height: 0.125rem;
    position: relative;
    background-color: var(--color-gainsboro-500);
  }
  .projectSummaryParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
  }
  .residential,
  .testProject1 {
    position: relative;
    display: inline-block;
  }
  .testProject1 {
    margin: 0;
    font-size: var(--font-size-5xl);
    line-height: 2.25rem;
    font-weight: 600;
    font-family: var(--font-alegreya-sans-sc);
    min-width: 7.938rem;
  }
  .residential {
    flex: 1;
    line-height: 1.5rem;
    min-width: 5.25rem;
    flex-shrink: 0;
  }
  .frameInner {
    width: 0.25rem;
    height: 0.25rem;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-gray-400);
  }
  .ellipseWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .flat {
    position: relative;
    line-height: 1.5rem;
    display: inline-block;
    min-width: 1.875rem;
    flex-shrink: 0;
  }
  .ellipseDiv {
    width: 0.25rem;
    height: 0.25rem;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-gray-400);
  }
  .ellipseContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .newBuild {
    flex: 1;
    position: relative;
    line-height: 1.5rem;
    display: inline-block;
    min-width: 4.813rem;
    flex-shrink: 0;
  }
  .residentialParent {
    width: 14.188rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.443rem;
    color: var(--color-gray-400);
  }
  .address,
  .kemmerOverpassSuite {
    position: relative;
    line-height: 1.5rem;
    display: inline-block;
    min-width: 4.188rem;
  }
  .kemmerOverpassSuite {
    flex: 1;
    color: var(--color-gray-400);
    min-width: 11.313rem;
  }
  .addressParent,
  .testProjectParent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .addressParent {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-3xs);
    color: var(--color-dimgray-100);
  }
  .testProjectParent {
    width: 22.25rem;
    flex-direction: column;
    padding: 0 0 var(--padding-xl);
    box-sizing: border-box;
    gap: 1rem;
    max-width: 100%;
    font-family: var(--font-abeezee);
  }
  .radiobg {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 17.14px;
    background-color: var(--color-mediumseagreen);
    width: 100%;
    height: 100%;
    display: none;
  }
  .vectorIcon {
    position: absolute;
    top: 35.83%;
    right: 28.33%;
    bottom: 34.58%;
    left: 28.75%;
    overflow: hidden;
    max-height: 100%;
    z-index: 1;
  }
  .radiobgParent {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    border-radius: 17.14px;
    background-color: var(--color-mediumseagreen);
  }
  .projectStructure {
    flex: 1;
    position: relative;
    line-height: 1.5rem;
    font-weight: 600;
  }
  .frameParent1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .radiobg1 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 17.14px;
    background-color: var(--color-mediumseagreen);
    width: 100%;
    height: 100%;
    display: none;
  }
  .vectorIcon1 {
    position: absolute;
    height: 29.58%;
    width: 42.92%;
    top: 35.83%;
    right: 28.33%;
    bottom: 34.58%;
    left: 28.75%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 1;
  }
  .radiobgGroup {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    border-radius: 17.14px;
    background-color: var(--color-mediumseagreen);
  }
  .projectFunctions {
    flex: 1;
    position: relative;
    line-height: 1.5rem;
    font-weight: 600;
  }
  .frameParent2 {
    width: 10.875rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .radiobg2 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 17.14px;
    background-color: var(--color-mediumseagreen);
    width: 100%;
    height: 100%;
    display: none;
  }
  .vectorIcon2 {
    position: absolute;
    height: 29.58%;
    width: 42.92%;
    top: 35.83%;
    right: 28.33%;
    bottom: 34.58%;
    left: 28.75%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 1;
  }
  .radiobgContainer {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    border-radius: 17.14px;
    background-color: var(--color-mediumseagreen);
  }
  .projectTechDetails {
    flex: 1;
    position: relative;
    line-height: 1.5rem;
    font-weight: 600;
  }
  .frameParent4 {
    width: 12.063rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .icon,
  .radiobg3 {
    position: absolute;
  }
  .radiobg3 {
    top: 0;
    left: 0;
    border-radius: 17.14px;
    background-color: var(--color-goldenrod);
    width: 100%;
    height: 100%;
    display: none;
  }
  .icon {
    top: 29.17%;
    right: 33.33%;
    bottom: 37.5%;
    left: 43%;
    overflow: hidden;
    z-index: 1;
  }
  .radiobgParent1 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    border-radius: 17.14px;
    background-color: var(--color-goldenrod);
  }
  .contractApproval,
  .pending {
    position: relative;
    line-height: 1.5rem;
    font-weight: 600;
  }
  .contractApproval {
    flex: 1;
  }
  .pending {
    font-size: 0.875rem;
    color: #eb9c01;
    display: inline-block;
    min-width: 4.063rem;
  }
  .frameParent6 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .radiobg4 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 17.14px;
    background-color: var(--color-lightgray-200);
    width: 100%;
    height: 100%;
    display: none;
  }
  .icon1 {
    position: absolute;
    height: 33.33%;
    width: 16.67%;
    top: 29.17%;
    right: 33.33%;
    bottom: 37.5%;
    left: 50%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 1;
  }
  .radiobgParent2 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    border-radius: 17.14px;
    background-color: var(--color-lightgray-200);
  }
  .finalPayment {
    position: relative;
    line-height: 1.5rem;
    font-weight: 600;
    display: inline-block;
    min-width: 6.938rem;
  }
  .frameParent5,
  .frameParent7 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frameParent5 {
    align-self: stretch;
    flex-direction: column;
    gap: var(--gap-xl);
  }
  .radiobg5 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 17.14px;
    background-color: var(--color-lightgray-200);
    width: 100%;
    height: 100%;
    display: none;
  }
  .icon2 {
    position: absolute;
    height: 33.33%;
    width: 16.67%;
    top: 29.17%;
    right: 33.33%;
    bottom: 37.5%;
    left: 50%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 1;
  }
  .radiobgParent3 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    border-radius: 17.14px;
    background-color: var(--color-lightgray-200);
  }
  .delivery {
    position: relative;
    line-height: 1.5rem;
    font-weight: 600;
    display: inline-block;
    min-width: 4.063rem;
  }
  .frameDiv,
  .frameParent3,
  .frameParent8 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frameDiv,
  .frameParent3 {
    flex-direction: column;
    gap: var(--gap-xl);
  }
  .frameParent3 {
    align-self: stretch;
  }
  .frameDiv {
    width: 16.063rem;
    padding: 0 0 var(--padding-xl);
    box-sizing: border-box;
    color: var(--color-gray-400);
  }
  .rectangleDiv {
    align-self: stretch;
    height: 0.125rem;
    position: relative;
    background-color: var(--color-gainsboro-500);
  }
  .finalPrice {
    position: relative;
    line-height: 1.75rem;
    font-weight: 600;
    display: inline-block;
    min-width: 6.625rem;
  }
  .finalPriceWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
  }
  .div {
    width: 5.063rem;
    position: relative;
    font-size: var(--font-size-5xl);
    line-height: 2.25rem;
    font-weight: 600;
    color: var(--color-gray-400);
    text-align: center;
    display: inline-block;
    white-space: nowrap;
  }
  .frameParent10 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .rebate {
    position: relative;
    line-height: 1.75rem;
    font-weight: 600;
    display: inline-block;
    min-width: 4.625rem;
  }
  .rebateWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
  }
  .div1 {
    width: 3.625rem;
    position: relative;
    font-size: var(--font-size-5xl);
    line-height: 2.25rem;
    font-weight: 600;
    color: var(--color-gray-400);
    text-align: center;
    display: inline-block;
    min-width: 3.625rem;
    white-space: nowrap;
  }
  .frameParent11,
  .frameParent9,
  .rectangleParent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frameParent11 {
    flex-direction: row;
    gap: var(--gap-3xs);
  }
  .frameParent9,
  .rectangleParent {
    align-self: stretch;
  }
  .frameParent9 {
    border-radius: 20px;
    flex-direction: row;
    gap: var(--gap-21xl);
  }
  .rectangleParent {
    flex-direction: column;
    padding: 0 0 var(--padding-xl);
    gap: var(--gap-11xl);
    font-size: var(--font-size-xl);
    color: var(--color-dimgray-100);
  }
  .fileDownload03Icon {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 1.5rem;
  }
  .downloadTechSpecification {
    flex: 1;
    position: relative;
    line-height: 1.5rem;
    font-weight: 600;
  }
  .button {
    align-self: stretch;
    border-radius: var(--br-31xl);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .fileDownload03Icon1 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 1.5rem;
  }
  .downloadSalesBrochure {
    flex: 1;
    position: relative;
    line-height: 1.5rem;
    font-weight: 600;
  }
  .button1,
  .buttonParent,
  .frameContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button1 {
    width: 14.563rem;
    border-radius: var(--br-31xl);
    flex-direction: row;
    gap: var(--gap-5xs);
  }
  .buttonParent,
  .frameContainer {
    flex-direction: column;
    gap: var(--gap-11xl);
  }
  .buttonParent {
    width: 19.313rem;
    color: var(--color-royalblue);
  }
  .frameContainer {
    flex: 1;
    border-radius: 30px;
    background-color: #f7f7f7;
    overflow: hidden;
    padding: var(--padding-31xl);
    box-sizing: border-box;
    min-width: 23.625rem;
    max-width: 100%;
  }
  .reviewSign {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 2.75rem;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
  }
  .contractSignedSuccessfully {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-xl);
    line-height: 2rem;
    font-weight: 600;
    color: var(--color-mediumseagreen);
    text-align: left;
  }
  .reviewSignContractParent {
    gap: var(--gap-xl);
  }
  .frameWrapper,
  .reviewSignContractParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .payment {
    margin: 0;
    width: 7.813rem;
    position: relative;
    font-size: inherit;
    line-height: 2.75rem;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    min-width: 7.813rem;
  }
  .oncePaymentIs {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-xl);
    line-height: 2rem;
    font-family: var(--font-abeezee);
    color: var(--color-dimgray-100);
    text-align: left;
  }
  .paymentParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
  }
  .deliveryAddress {
    margin: 0;
  }
  .kemmerOverpassSuite971 {
    margin: 0;
    color: var(--color-gray-400);
  }
  .deliveryAddress39547Container,
  .label {
    position: relative;
    font-size: var(--font-size-xl);
    text-align: left;
  }
  .deliveryAddress39547Container {
    width: 24.875rem;
    line-height: 2rem;
    display: inline-block;
    max-width: 100%;
    color: var(--color-dimgray-100);
    font-family: var(--font-abeezee);
  }
  .label {
    flex: 1;
    line-height: 1.5rem;
    font-weight: 600;
    font-family: var(--font-alegreya-sans-sc);
    color: var(--default-white);
  }
  .labelBlue {
    flex: 1;
    line-height: 1.5rem;
    font-weight: 600;
    font-family: var(--font-alegreya-sans-sc);
    color: #2D74FE;
    position: relative;
    font-size: var(--font-size-xl);
    text-align: left;
    justify-content: space-between;
    margin-left: 10px;
  }
  .dFlexColum{
    display: flex;
    flex-direction: column;
  }
  .button2 {
    cursor: pointer;
    border: 0;
    padding: 1.125rem var(--padding-13xl);
    background-color: var(--color-royalblue);
    width: 13rem;
    border-radius: var(--br-31xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: nowrap;
  }
  .button3 {
    cursor: pointer;
    border: 0;
    padding: 1.125rem var(--padding-13xl);
    background-color: var(--color-royalblue);
    width: 18rem;
    border-radius: var(--br-31xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: nowrap;
  }
  .button4 {
    cursor: pointer;
    border: 0;
    padding: 1.125rem var(--padding-13xl);
    background-color: #F4F4F4;
    width: 15rem;
    border-radius: var(--br-31xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: nowrap;
    color: #2D74FE;
  }
  .button2:hover {
    background-color: #478fff;
  }
  .frameParent13 {
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-21xl);
  }
  .frameGroup,
  .frameParent12,
  .frameParent13 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frameParent12 {
    width: 28.375rem;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-31xl) 0 0;
    box-sizing: border-box;
    gap: 5rem;
    min-width: 28.375rem;
    text-align: center;
    font-size: var(--font-size-13xl);
    color: var(--color-gray-400);
  }
  .frameGroup {
    width: 68.438rem;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-41xl);
  }
  .frameSection,
  .paymentPage {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .frameSection {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-base);
    color: #000;
    font-family: var(--font-alegreya-sans-sc);
  }
  .paymentPage {
    width: 100%;
    position: relative;
    background-color: var(--default-white);
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 5rem;
    gap: var(--gap-41xl);
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1100px) {
    .frameGroup {
      gap: var(--gap-11xl);
    }
  }
  @media screen and (max-width: 1025px) {
    .congratulations {
      font-size: var(--font-size-7xl);
      line-height: 2.188rem;
    }
    .frameContainer {
      padding-top: var(--padding-13xl);
      padding-bottom: var(--padding-13xl);
      box-sizing: border-box;
    }
    .reviewSign {
      font-size: var(--font-size-7xl);
      line-height: 2.188rem;
    }
    .reviewSignContractParent {
      align-self: stretch;
      width: auto;
    }
    .payment {
      font-size: var(--font-size-7xl);
      line-height: 2.188rem;
    }
    .frameParent12 {
      flex: 1;
    }
    .frameGroup {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 750px) {
    .frameParent12{
      flex: 0;
    }
    .header1 {
      padding-left: 1.875rem;
      box-sizing: border-box;
    }
    .frameContainer {
      gap: 0.938rem;
      padding-left: var(--padding-6xl);
      padding-right: var(--padding-6xl);
      box-sizing: border-box;
    }
    .frameParent12 {
      padding-top: var(--padding-13xl);
      box-sizing: border-box;
      min-width: 100%;
    }
    .paymentPage {
      gap: var(--gap-11xl);
    }
  }
  @media screen and (max-width: 450px) {
    .congratulations {
      font-size: var(--font-size-lgi);
      line-height: 1.625rem;
    }
    .projectCompleteReview {
      /* font-size: var(--font-size-base); */
      line-height: 1.625rem;
    }
    .projectSummary,
    .testProject1 {
      font-size: var(--font-size-lgi);
      line-height: 1.813rem;
    }
    .addressParent {
      flex-wrap: wrap;
    }
    .finalPrice {
      /* font-size: var(--font-size-base); */
      line-height: 1.375rem;
    }
    .div {
      font-size: var(--font-size-lgi);
      line-height: 1.813rem;
    }
    .rebate {
      /* font-size: var(--font-size-base); */
      line-height: 1.375rem;
    }
    .div1 {
      font-size: var(--font-size-lgi);
      line-height: 1.813rem;
    }
    .frameParent9 {
      flex-wrap: wrap;
      gap: var(--gap-xl);
    }
    .frameContainer {
      padding-top: var(--padding-2xl);
      padding-bottom: var(--padding-2xl);
      box-sizing: border-box;
      min-width: 100%;
    }
    .reviewSign {
      font-size: var(--font-size-lgi);
      line-height: 1.625rem;
    }
    .contractSignedSuccessfully {
      /* font-size: var(--font-size-base); */
      line-height: 1.625rem;
    }
    .frameWrapper {
      gap: var(--gap-xl);
    }
    .payment {
      font-size: var(--font-size-lgi);
      line-height: 1.625rem;
    }
    .deliveryAddress39547Container,
    .oncePaymentIs {
      /* font-size: var(--font-size-base); */
      line-height: 1.625rem;
    }
    .frameParent13 {
      gap: var(--gap-xl);
    }
    .frameParent12 {
      gap: var(--gap-21xl);
    }
  }