.projectStructureReview {
    margin: 0;
    width: 347px;
    position: relative;
    font-size: inherit;
    line-height: 44px;
    font-weight: 600;
    display: inline-block;
  }
  .projectStructureReviewWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
  }
  .selectedAreas,
  .selectedFloors,
  .selectedRooms {
    position: relative;
    line-height: 24px;
    font-weight: 600;
    display: inline-block;
  }
  .selectedAreas,
  .selectedFloors {
    flex: 1;
    min-width: 157px;
  }
  .selectedRooms {
    width: 123px;
  }
  .selectedAreasParent {
    margin: 0;
    width: 647px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
    max-width: 100%;
    white-space: nowrap;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-dimgray-100);
    
  }
  .frameChild {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--color-gainsboro-500);
  }
  .frameContainer {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 22px;
    max-width: 100%;
  }
  .house,
  .house1 {
    position: relative;
    display: inline-block;
  }
  .house {
    line-height: 28px;
    font-weight: 600;
    min-width: 62px;
  }
  .house1 {
    flex: 1;
    line-height: 24px;
    min-width: 49px;
  }
  .frameItem {
    width: 4px;
    height: 4px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-dimgray-100);
  }
  .ellipseWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .indoor {
    flex: 1;
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 50px;
  }
  .houseGroup,
  .houseParent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .houseGroup {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-5xs-5);
    font-size: var(--font-size-base);
    
  }
  .houseParent {
    width: 125px;
    flex-direction: column;
    padding: 0 7px 0 0;
    box-sizing: border-box;
    gap: var(--gap-3xs);
  }
  .firstFloor,
  .groundFloor {
    position: relative;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    min-width: 125px;
  }
  .firstFloor {
    min-width: 97px;
  }
  .groundFloorParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 130px;
  }
  .kitchen {
    position: absolute;
    margin: 0 !important;
    top: 0;
    left: 0;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    min-width: 74px;
  }
  .frameInner {
    height: 29px;
    width: 1px;
    left: 86px;
    background-color: var(--color-dimgray-100);
  }
  .bathroom,
  .frameInner,
  .rectangleDiv {
    position: absolute;
    margin: 0 !important;
    top: 0;
  }
  .bathroom {
    left: 99px;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    min-width: 94px;
  }
  .rectangleDiv {
    height: 29px;
    width: 1px;
    left: 205px;
    background-color: var(--color-dimgray-100);
  }
  .entranceHall,
  .frameChild1 {
    position: absolute;
    margin: 0 !important;
    top: 45px;
  }
  .entranceHall {
    left: 0;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    min-width: 128px;
  }
  .frameChild1 {
    height: 29px;
    width: 1px;
    left: 140px;
    background-color: var(--color-dimgray-100);
  }
  .cinema {
    top: 45px;
    left: 153px;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    min-width: 73px;
  }
  .cinema,
  .frameChild2,
  .utilityRoom {
    position: absolute;
    margin: 0 !important;
  }
  .frameChild2 {
    height: 29px;
    width: 1px;
    top: 45px;
    left: 238px;
    background-color: var(--color-dimgray-100);
  }
  .utilityRoom {
    top: 90px;
    left: 0;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    min-width: 117px;
  }
  .kitchenParent {
    align-self: stretch;
    height: 118px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 16px 12px;
  }
  .kitchen1 {
    position: absolute;
    margin: 0 !important;
    top: 0;
    left: 0;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    min-width: 74px;
  }
  .frameChild3 {
    height: 29px;
    width: 1px;
    left: 86px;
    background-color: var(--color-dimgray-100);
  }
  .frameChild3,
  .frameChild4,
  .guestBedroom {
    position: absolute;
    margin: 0 !important;
    top: 0;
  }
  .guestBedroom {
    width: 149px;
    left: 99px;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
  }
  .frameChild4 {
    height: 29px;
    width: 1px;
    left: 260px;
    background-color: var(--color-dimgray-100);
  }
  .bathroom1 {
    left: 0;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    min-width: 94px;
  }
  .bathroom1,
  .frameChild5,
  .storeRoom {
    position: absolute;
    margin: 0 !important;
    top: 45px;
  }
  .frameChild5 {
    height: 29px;
    width: 1px;
    left: 106px;
    background-color: var(--color-dimgray-100);
  }
  .storeRoom {
    left: 119px;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    min-width: 107px;
  }
  .frameParent1,
  .kitchenGroup {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .kitchenGroup {
    align-self: stretch;
    height: 76px;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    gap: 16px 12px;
  }
  .frameParent1 {
    width: 286px;
    flex-direction: column;
    gap: var(--gap-21xl);
  }
  .frameDiv,
  .frameGroup {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
  }
  .frameDiv {
    border-radius: var(--br-3xs);
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frameGroup {
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-21xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-dimgray-100);
    
  }
  .frameChild6 {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--color-gainsboro-500);
  }
  .manCave,
  .shed {
    position: relative;
    display: inline-block;
  }
  .manCave {
    line-height: 28px;
    font-weight: 600;
    min-width: 94px;
  }
  .shed {
    line-height: 24px;
    min-width: 39px;
  }
  .ellipseDiv {
    width: 4px;
    height: 4px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-dimgray-100);
  }
  .ellipseContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .indoor1 {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 50px;
  }
  .manCaveParent,
  .shedParent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .shedParent {
    flex-direction: row;
    gap: var(--gap-5xs-5);
    font-size: var(--font-size-base);
    
  }
  .manCaveParent {
    flex-direction: column;
    padding: 0 13px 0 0;
    gap: var(--gap-3xs);
  }
  .groundFloor1,
  .tvRoom {
    position: relative;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    min-width: 121px;
  }
  .tvRoom {
    min-width: 82px;
  }
  .frameChild7 {
    height: 29px;
    width: 1px;
    position: relative;
    background-color: var(--color-dimgray-100);
  }
  .studyRoom {
    position: relative;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    min-width: 111px;
  }
  .tvRoomParent {
    width: 286px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-28xl);
    box-sizing: border-box;
    gap: 16px 12px;
  }
  .frameParent2,
  .rectangleParent {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
  }
  .frameParent2 {
    border-radius: var(--br-3xs);
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .rectangleParent {
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-21xl);
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-dimgray-100);
    
  }
  .frameChild8 {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--color-gainsboro-500);
  }
  .carGarage,
  .garage {
    position: relative;
    display: inline-block;
  }
  .carGarage {
    line-height: 28px;
    font-weight: 600;
    min-width: 109px;
  }
  .garage {
    flex: 1;
    line-height: 24px;
    min-width: 55px;
  }
  .frameChild9 {
    width: 4px;
    height: 4px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-dimgray-100);
  }
  .ellipseFrame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .indoor2 {
    flex: 1;
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 50px;
  }
  .carGarageParent,
  .garageParent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .garageParent {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-5xs-5);
    font-size: var(--font-size-base);
    
  }
  .carGarageParent {
    width: 124px;
    flex-direction: column;
    gap: var(--gap-3xs);
  }
  .carParking,
  .groundFloor2 {
    position: relative;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    min-width: 121px;
  }
  .carParking {
    min-width: 112px;
  }
  .frameChild10 {
    height: 29px;
    width: 1px;
    position: relative;
    background-color: var(--color-dimgray-100);
  }
  .storeRoom1 {
    position: relative;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    min-width: 107px;
  }
  .carParkingParent {
    width: 286px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-28xl);
    box-sizing: border-box;
    gap: 16px 12px;
  }
  .frameParent3,
  .rectangleGroup {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
  }
  .frameParent3 {
    border-radius: var(--br-3xs);
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .rectangleGroup {
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-21xl);
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-dimgray-100);
    
  }
  .frameChild11 {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--color-gainsboro-500);
  }
  .frontGarden,
  .gardenArea {
    position: relative;
    display: inline-block;
  }
  .frontGarden {
    line-height: 28px;
    font-weight: 600;
    min-width: 126px;
  }
  .gardenArea {
    line-height: 24px;
    min-width: 95px;
  }
  .frameChild12 {
    width: 4px;
    height: 4px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-dimgray-100);
  }
  .ellipseWrapper1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .outdoor {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 64px;
  }
  .frontGardenParent,
  .gardenAreaParent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .gardenAreaParent {
    flex-direction: row;
    gap: var(--gap-5xs-5);
    font-size: var(--font-size-base);
    
  }
  .frontGardenParent {
    flex-direction: column;
    gap: var(--gap-3xs);
  }
  .groundFloor3 {
    position: relative;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    min-width: 121px;
  }
  .groundFloorWrapper {
    height: 76px;
    width: 242px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .div {
    position: relative;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    min-width: 22px;
  }
  .frameParent5,
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .wrapper {
    flex: 1;
    flex-wrap: wrap;
    padding: 0 0 48px;
    box-sizing: border-box;
    min-width: 22px;
    font-size: 24px;
  }
  .frameParent5 {
    align-self: stretch;
    gap: var(--gap-xl);
  }
  .frameParent4,
  .frameWrapper {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frameWrapper {
    width: 548px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .frameParent4 {
    align-self: stretch;
    border-radius: var(--br-3xs);
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frameParent,
  .rectangleContainer,
  .step3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangleContainer {
    align-self: stretch;
    gap: var(--gap-21xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-dimgray-100);
    
  }
  .frameParent,
  .step3 {
    box-sizing: border-box;
    gap: var(--gap-41xl);
  }
  .frameParent {
    align-self: stretch;
    border-radius: 30px;
    background-color: #f7f7f7;
    padding: 50px var(--padding-41xl);
    max-width: 100%;
  }
  .step3 {
    width: 100%;
    background-color: #fff;
    padding: 0 0 var(--padding-41xl);
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: 32px;
    color: #222;
    
  }
  @media screen and (max-width: 900px) {
    .projectStructureReview {
      font-size: 26px;
      line-height: 35px;
    }
    .frameDiv,
    .frameParent2,
    .frameParent3,
    .frameParent4 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 675px) {
    .frameParent5 {
      flex-wrap: wrap;
    }
    .frameWrapper {
      gap: var(--gap-xl);
    }
    .frameParent {
      padding-top: var(--padding-2xl);
      padding-bottom: var(--padding-2xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .projectStructureReview {
      font-size: var(--font-size-lgi);
      line-height: 26px;
    }
    .bathroom,
    .bathroom1,
    .cinema,
    .entranceHall,
    .firstFloor,
    .groundFloor,
    .guestBedroom,
    .house,
    .kitchen,
    .kitchen1,
    .storeRoom,
    .utilityRoom {
      font-size: var(--font-size-base);
      line-height: 22px;
    }
    .frameGroup,
    .frameParent1 {
      gap: var(--gap-xl);
    }
    .groundFloor1,
    .manCave,
    .studyRoom,
    .tvRoom {
      font-size: var(--font-size-base);
      line-height: 22px;
    }
    .rectangleParent {
      gap: var(--gap-xl);
    }
    .carGarage,
    .carParking,
    .groundFloor2,
    .storeRoom1 {
      font-size: var(--font-size-base);
      line-height: 22px;
    }
    .rectangleGroup {
      gap: var(--gap-xl);
    }
    .div,
    .frontGarden,
    .groundFloor3 {
      font-size: var(--font-size-base);
      line-height: 22px;
    }
    .div {
      font-size: var(--font-size-lgi);
    }
    .rectangleContainer {
      gap: var(--gap-xl);
    }
    .frameParent {
      padding-left: var(--padding-11xl);
      padding-right: var(--padding-11xl);
      box-sizing: border-box;
    }
    .frameParent,
    .step3 {
      gap: var(--gap-11xl);
    }
  }