.pageMainCss {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



.colorDimGray100{
  color: #6e6e73;
}
.widhtFull {
  width: 100%;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 1rem 2rem;
  background-color: var(--color-royalblue);
  border-radius: var(--br-31xl);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
}
.buttonLabel {
  position: relative;
  font-size: var(--font-size-5xl) !important;
  font-weight: 590 !important;
  line-height: 1.5rem;
  text-align: left;
  display: inline-block;
}
.button:hover {
  background-color: var(--color-dodgerblue);
}

.sectionCommon {}

.displayFlexFlexDirectionColumnAlignCenter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.section1 {
  align-self: stretch;
  background-color: var(--color-gray-400);
  padding: 7rem 8rem;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-lightgray-300);
}
.section3 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  padding: 4rem var(--padding-xl);
  gap: var(--gap-61xl);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
  box-sizing: border-box;
}
.section5 {
  align-self: stretch;
  padding: 7rem var(--padding-xl);
  box-sizing: border-box;
  gap: 4rem;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-400);
}

.section2 {
  align-self: stretch;
  padding: 7.5rem 1.25rem;
  box-sizing: border-box;
  gap: 3rem;
  text-align: center;
  font-size: var(--font-size-13xl);
}

.section1Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}

.homeLabel {
  padding: 0px 5px;
  max-width: 50.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.capitalizeDivWidth38Weight500 {
  position: relative;
  letter-spacing: 1px;
  line-height: 1.375rem;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
}

.h1Title64 {
  font-size: 64px;
  font-weight: 590;
  line-height: 76px;
  text-align: center;
  margin: 20px 0px;
}
.h1Title48 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-29xl);
  line-height: 3.75rem;
  font-weight: 600;
}
.h1Title34 {
  margin: 0;
  width: 43.5rem;
  position: relative;
  font-size: 2rem;
  line-height: 2.75rem;
  font-weight: 400;
  display: inline-block;
  max-width: 100%;
}

.homeDescription {
  margin: 0;
  width: 43.5rem;
  position: relative;
  font-size: 2rem;
  line-height: 2.75rem;
  font-weight: 400;
  display: inline-block;
  max-width: 100%;
}


.h1Title32 {
  font-family: SF Pro; /* TODO-SAVAN need to change font family*/
  font-size: 2rem;
  font-weight: 510;
  line-height: 44px;
  text-align: center;
  max-width: 60rem;
  color: #6e6e73;
  margin: 0;
  display: inline-block;
}

/* ==================================================================================================== */
.pinnaqle {
  flex: 1;
  position: relative;
  line-height: 1.75rem;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
}
.logoContainer {
  width: 8.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.label {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 1.5rem;
  font-weight: 600;
  text-align: left;
}
.navHeaderElement {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-9xl);
  background-color: var(--color-gray-400);
  flex: 1;
  border-radius: var(--br-31xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.component2:hover,
.navHeaderElement:hover {
  background-color: var(--color-dimgray-300);
}
.label1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 1.5rem;
  font-weight: 600;
  text-align: left;
}
.component2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-9xl);
  background-color: var(--color-gray-400);
  flex: 1;
  border-radius: var(--br-31xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.label2 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--color-lightskyblue);
  text-align: left;
  display: inline-block;
  min-width: 3.688rem;
}
.autoLayoutHorizontal,
.component3,
.header1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.component3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-9xl);
  background-color: #1c3b6d;
  border-radius: var(--br-31xl);
  overflow: hidden;
  justify-content: center;
  white-space: nowrap;
}
.component3:hover {
  background-color: #426194;
}
.autoLayoutHorizontal,
.header1 {
  max-width: 100%;
}
.autoLayoutHorizontal {
  width: 30.25rem;
  justify-content: flex-start;
}
.header1 {
  align-self: stretch;
  background-color: var(--color-gray-400);
  border-bottom: 1px solid #6a6a6a;
  box-sizing: border-box;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-41xl) var(--padding-lg);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-18xl-3);
}
.smartSecureSimple {
  width: 38.25rem;
  position: relative;
  letter-spacing: 1px;
  line-height: 1.375rem;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.experienceTheFuture {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-45xl);
  line-height: 4.75rem;
  font-weight: 600;
}

.pb6rem {
  padding-bottom: 6rem !important;
}

.button {
  display: flex;
  align-items: center;
}

.notAnymoreThe {
  margin: 0;
}


.colorGray300 {
  color: #6e6e73;
}

.colorGray400 {
  color: var(--color-gray-400);
}
.maxWidth43Rem {
  max-width: 43rem;
}

.fontSize24 {
  font-size: 24px !important;
}

.h3Label {
  position: relative;
  margin: 0;
  font-size: inherit;
  line-height: 2rem;
  font-weight: 400;
}
.section2Img {
  height: 28.75rem;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  align-self: stretch;
  position: relative;
  color: #6e6e73;
}
.blueTitle20 {
  position: relative;
  font-size: 20px;
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--color-royalblue);
  text-align: left;
}
.photoBttn {
  display: flex;
  align-items: center;
}
.photoBttn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-13xl);
  background-color: var(--color-aliceblue-200);
  border-radius: var(--br-31xl);
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
}
.photoBttn:hover,
.button2:hover {
  background-color: var(--color-lavender);
}
.section2Photo {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  min-width: 14.625rem;
  max-width: 100%;
}
.label5 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--color-royalblue);
  text-align: left;
}


.photoInRow {
  display: flex;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.photoInRow {
  width: 47.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.h3Title24 {
  width: 56.75rem;
  gap: var(--gap-21xl);
  font-size: var(--font-size-5xl);
}

.professionals {
  width: 51rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}

.guidedDesignProcess {
  flex: 1;
  position: relative;
  line-height: 1.75rem;
  display: inline-block;
  min-width: 17.125rem;
  max-width: 100%;
}
.websiteProcess {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}


.designProcess {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.designProcess {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xl);
  min-width: 18.875rem;
}
.tdesigncloseIcon {
  height: 1.5rem;
  width: 2rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.guidedDesign{
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.guidedDesign {
  margin-top: 4rem;
  width: 69.938rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0 4.593rem;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--body-base-text-size);
}
.homeowners {
  margin: 0;
  width: 11.875rem;
  position: relative;
  font-size: inherit;
  line-height: 2.75rem;
  font-weight: 600;
  display: inline-block;
}
.experienceTheEase {
  align-self: stretch;
  position: relative;
  font-size: var(--body-base-text-size);
  line-height: 1.5rem;
  color: #6e6e73;
}
.homeownersParent {
  flex: 1;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-gainsboro-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-49xl) var(--padding-22xl) var(--padding-59xl);
  gap: var(--gap-3xs);
  min-width: 16.25rem;
  max-width: 100%;
}
.frameParent,
.professionalsParent {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.professionalsParent {
  flex: 0.8861;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-gainsboro-500);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-49xl) var(--padding-40xl) var(--padding-59xl);
  gap: var(--gap-3xs);
  min-width: 16.25rem;
}
.frameParent {
  width: 56.25rem;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-11xl);
  gap: var(--gap-21xl);
  font-size: var(--font-size-13xl);
}
.h3GrayItalic24,
.label6 {
  position: relative;
  font-size: var(--font-size-5xl);

  display: inline-block;
}
.h3GrayItalic24 {
  margin: 0;
  width: 51rem;
  line-height: 2.25rem;
  font-weight: 400;
  max-width: 100%;
  color: #6e6e73;
  font-style: italic;
}
.button3,
.callToAction {
  display: flex;
  align-items: center;
}

.button3:hover,
.button4:hover,
.button5:hover,
.button6:hover {
  background-color: var(--color-dodgerblue);
}
.callToAction {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gainsboro-500);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: 7.5rem var(--padding-xl) var(--padding-99xl);
  gap: 3.75rem;
  max-width: 100%;
  text-align: center;
  font-size: 45px;
  color: var(--color-gray-400);
}
.pinnaqle1 {
  flex: 1;
  position: relative;
  line-height: 3.75rem;
  font-weight: 600;
}
.pinnaqleInfo {
  width: 7.5rem;
  border-radius: var(--br-980xl);
  background-color: var(--color-gray-500);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-29xl);
  box-sizing: border-box;
}
.whyHomeAutomation {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 3.75rem;
  font-weight: 600;
  display: inline-block;
  min-width: 20rem;
}
.content {
  align-self: stretch;
  background-color: var(--color-gray-400);
  border-bottom: 1px solid var(--color-gainsboro-500);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--padding-81xl) 24.625rem var(--padding-79xl);
  gap: var(--gap-21xl);
  text-align: center;
  font-size: var(--font-size-29xl);
}
.embraceHomeAutomation,
.welcomeToThe {
  margin: 0;
  position: relative;
  display: inline-block;
}
.welcomeToThe {
  width: 28.438rem;
  font-size: inherit;
  line-height: 3.75rem;
  font-weight: 600;
  max-width: 100%;
}
.embraceHomeAutomation {
  align-self: stretch;
  height: 4.5rem;
  font-size: var(--font-size-5xl);
  line-height: 2.25rem;
  font-weight: 400;
}
.welcomeMessages {
  width: 31.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.embraceTheChange,
.welcomeToYour {
  margin: 0;
}
.embraceTheChangeContainer {
  margin: 0;
  width: 30.563rem;
  position: relative;
  font-size: inherit;
  line-height: 2.75rem;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
}
.inTheWorld {
  align-self: stretch;
  position: relative;
  font-size: var(--body-base-text-size);
  line-height: 1.5rem;
  color: #6e6e73;
}
.futureLiving,
.welcomeMessages1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.welcomeMessages1 {
  width: 31.25rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-13xl);
}
.futureLiving {
  width: 70rem;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.convenienceAtYour,
.goneAreThe {
  align-self: stretch;
  position: relative;
  color: #6e6e73;
}
.convenienceAtYour {
  margin: 0;
  font-size: inherit;
  line-height: 2.25rem;
  font-weight: 600;
  color: #222222;
}
.goneAreThe {
  font-size: var(--body-base-text-size);
  line-height: 1.5rem;
}
.convenienceAtYourFingertipsParent {
  flex: 1;
  border-radius: var(--br-11xl);
  border: 1px solid var(--color-gainsboro-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-29xl) var(--padding-30xl) var(--padding-39xl);
  gap: var(--gap-xl);
  min-width: 21.938rem;
  max-width: 100%;
}
.enhancedSecurity,
.peaceOfMind {
  align-self: stretch;
  position: relative;
  color: #6e6e73;
}
.enhancedSecurity {
  margin: 0;
  font-size: inherit;
  line-height: 2.25rem;
  font-weight: 600;
  color: #222222;
}
.peaceOfMind {
  font-size: var(--body-base-text-size);
  line-height: 1.5rem;
}
.benefitsGrid,
.enhancedSecurityParent {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.enhancedSecurityParent {
  flex: 1;
  border-radius: var(--br-11xl);
  border: 1px solid var(--color-gainsboro-500);
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-29xl) var(--padding-30xl) var(--padding-39xl);
  gap: var(--gap-xl);
  min-width: 21.938rem;
}
.benefitsGrid {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-21xl);
}

.benefitsGrid1,
.comfortAndEntertainmentParent {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.homeBenefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.homeBenefits {
  width: 70rem;
  gap: var(--gap-21xl);
  font-size: var(--font-size-5xl);
}

.image22Icon {
  width: 37.5rem;
  position: relative;
  border-radius: var(--br-xl);
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.revolutionContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-101xl) 0;
  box-sizing: border-box;
  min-width: 29.25rem;
  max-width: 100%;
}
.homeAutomationIs,
.howDoesIt {
  position: relative;
  display: inline-block;
  color: #6e6e73;
}
.howDoesIt {
  margin: 0;
  width: 33.938rem;
  font-size: inherit;
  line-height: 3.75rem;
  font-weight: 600;
  max-width: 105%;
  flex-shrink: 0;
  color: #222222;
}
.homeAutomationIs {
  width: 30.063rem;
  font-size: var(--body-base-text-size);
  line-height: 1.5rem;

  max-width: 100%;
}
.joinRevolution {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.joinTheSmart {
  margin: 0;

  position: relative;
  font-size: inherit;
  line-height: 2.25rem;
  font-weight: 600;
}
.joinRevolution1,
.label7 {
  font-size: var(--font-size-5xl);
}
.joinRevolution1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.revolution,
.revolutionContent1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.revolutionContent1 {
  flex: 0.7222;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-196xl) var(--padding-101xl) var(--padding-196xl)
    var(--padding-61xl);
  box-sizing: border-box;
  gap: var(--gap-41xl);
  min-width: 29.25rem;
}
.revolution {
  align-self: stretch;
  background-color: var(--color-gray-100);
  flex-direction: row;
  justify-content: flex-start;
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-400);
}
.div {
  width: 1.813rem;
  position: relative;
  line-height: 3.75rem;
  font-weight: 600;
  display: inline-block;
  min-width: 1.813rem;
}


.content1 {
  background-color: var(--color-gray-400);
  border-bottom: 1px solid var(--color-gainsboro-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-81xl) 26.656rem var(--padding-79xl);
  gap: var(--gap-21xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-29xl);
}
.welcomeToThe1,
.whereInnovationMeets {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.welcomeToThe1 {
  font-size: inherit;
  line-height: 3.75rem;
  font-weight: 600;
}
.whereInnovationMeets {
  font-size: var(--font-size-5xl);
  line-height: 2.25rem;
  font-weight: 400;
}
.worldWelcome {
  width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}

.digitalEra {
  width: 31.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--body-base-text-size);
}
.pinnaqleIntro {
  width: 70rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.seamlessIntegrationAcross {
  margin: 0;
  width: 100%;
  position: relative;
  font-size: inherit;
  line-height: 2.25rem;
  font-weight: 600;
  display: inline-block;
}
.blankLine,
.unifiedEcosystemAppleHomek {
  margin: 0;
  color: #6e6e73;
}

.extensiveCompatibilityWith {
  margin: 0;
}
.unifiedEcosystemAppleContainer {
  width: 100%;
  position: relative;
  font-size: var(--body-base-text-size);
  line-height: 1.5rem;

  display: inline-block;
}
.integrationPoints {
  align-self: stretch;
  border-radius: var(--br-11xl);
  border: 1px solid var(--color-gainsboro-500);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-29xl) var(--padding-xl) var(--padding-29xl)
    var(--padding-21xl);
  gap: var(--gap-11xl);
}

.blankLine1,
.endToEndEncryptionAppleI {
  margin: 0;
}
.noPersonalDataTrackingUnl {
  margin: 0;
}

.deviceIntegration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.deviceIntegration {
  width: 24.375rem;
  gap: var(--gap-21xl);
  min-width: 24.375rem;
  max-width: 100%;
}
.simplicityAndConvenience {
  margin: 0;
  width: 38.125rem;
  position: relative;
  font-size: inherit;
  line-height: 2.25rem;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
}
.blankLine2,
.intuitiveInterfaceApplesH {
  margin: 0;
  color: #6e6e73;
}
.voiceControlWithSiriJust {
  margin: 0;
}
.intuitiveInterfaceApplesContainer {
  width: 38.688rem;
  position: relative;
  font-size: var(--body-base-text-size);
  letter-spacing: -0.04px;
  line-height: 1.5rem;

  display: inline-block;
  max-width: 100%;
}
.experiencePoints {
  align-self: stretch;
  border-radius: var(--br-11xl);
  border: 1px solid var(--color-gainsboro-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-29xl) var(--padding-xl) var(--padding-29xl)
    var(--padding-21xl);
  gap: var(--gap-11xl);
  max-width: 100%;
}

.blankLine3,
.smartAutomationSetScenesA {
  margin: 0;
}
.personalizedExperienceTailo {
  margin: 0;
}

.blankLine4,
.reducedEnergyConsumptionSm {
  margin: 0;
}
.deviceIntegrationParent,
.experiencePoints2,
.userExperience {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.userExperience {
  flex: 1;
  flex-direction: column;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  gap: 2.687rem;
  min-width: 28rem;
}
.deviceIntegrationParent {
  width: 70rem;
  flex-direction: row;
  gap: var(--gap-21xl);
  font-size: var(--font-size-5xl);
}

.pinnaqleWorld {
  display: flex;
  align-items: center;
}
.pinnaqleWorld {
  align-self: stretch;
  background-color: var(--default-white);
  border-bottom: 1px solid var(--color-gainsboro-500);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-101xl) var(--padding-xl) var(--padding-99xl);
  gap: var(--gap-61xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-400);
}


.minutes {
  color: var(--color-gray-400);
  font-weight: 520;
}
.pinnaqleHomeMakesContainer,
.weHaveDone {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 2.75rem;
  font-weight: 510;
  color: #6e6e73;
}
.pinnaqleHomeMakesContainer {
  width: 54.625rem;
  display: inline-block;
  max-width: 100%;
  line-height: 44px;
  font-weight: 500;
  color: #6e6e73;
}
.weHaveDone {
  align-self: stretch;
}
.valueFocus {
  border: 1px solid var(--color-gainsboro-500);
  background-color: transparent;
  height: 11.75rem;
  width: auto;
  outline: 0;
  align-self: stretch;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  justify-content: center;
  padding: var(--padding-21xl) var(--padding-26xl);
  font-size: var(--font-size-5xl);
  color: #6e6e73;
}
.valueFocus,
.valueFocus1,
.valuePackages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.valueFocus1 {
  border: 1px solid var(--color-gainsboro-500);
  background-color: transparent;
  height: 100%;
  width: auto;
  outline: 0;
  align-self: stretch;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  justify-content: center;
  padding: var(--padding-21xl) var(--padding-26xl);
  font-size: var(--font-size-5xl);
  color: #6e6e73;
}
.valuePackages {
  width: 30.938rem;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  min-width: 30.938rem;
  max-width: 100%;
}
.heavyLifting,
.packageAssembly,
.researchedPackages {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.heavyLifting,
.researchedPackages {
  gap: var(--gap-11xl);
}
.researchedPackages {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--font-size-5xl);
}
.heavyLifting {
  width: 54.625rem;
  flex-direction: column;
  align-items: center;
}
.expertlyGuideYou {
  color: var(--color-gray-400);
}
.blankLine5,
.ourWebsiteToolWillExpertly {
  margin: 0;
}
.budgetStandardAnd {
  color: var(--color-gray-400);
}
.anyTechnicalDetails,
.blankLine6,
.blankLine7 {
  margin: 0;
}

.customisedCustomerBrochure {
  color: var(--color-gray-400);
}

.installationInstructionsAnd {
  color: var(--color-gray-400);
  white-space: pre-wrap;
}
.blankLine8,
.blankLine9,
.thereIsAn,
.youWillGetACustomisedCust {
  margin: 0;
}
.pinnaqleHomeIs2 {
  margin: 0;
  color: var(--color-gray-400);
}
.ourWebsiteToolContainer {
  position: relative;
  display: inline-block;
}
.ourWebsiteToolContainer {
  margin: 0;
  width: 54.75rem;
  height: 52.25rem;
  font-size: inherit;
  line-height: 2.75rem;
  font-weight: 530;
  max-width: 100%;
  color: #6e6e73;
}


.simpleHome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.simpleHome {
  align-self: stretch;
  background-color: var(--color-gray-100);
  align-items: center;
  padding: 5rem var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-13xl);
}

@media screen and (max-width: 1350px) {
  .section2 {
    padding-top: 4rem;
    padding-bottom: var(--padding-59xl);
    box-sizing: border-box;
  }
  .section3 {
    gap: var(--gap-21xl);
  }
  .section5 {
    gap: 4rem;
    padding-top: 7rem;
    padding-bottom: var(--padding-59xl);
    box-sizing: border-box;
  }
  .revolutionContent,
  .revolutionContent1 {
    flex: 1;
    padding-left: 30px;
  }
  .content1,
  .revolution {
    flex-wrap: wrap;
  }
  .pinnaqleWorld,
  .simpleHome {
    padding-top: 5rem;
    box-sizing: border-box;
  }
  .pinnaqleWorld {
    gap: var(--gap-21xl);
    padding-bottom: var(--padding-58xl);
  }
  .simpleHome {
    padding-bottom: 5rem;
  }
}
/* @media screen and (max-width: 1125px) {
  .joinTheSmart {
    margin-left: 110px;
  }
} */
@media screen and (max-width: 1125px) {
  /* .joinTheSmart {
    margin-left: 90px;
  } */
  .joinRevolution1 {
    align-items: center;
  }
  .joinRevolution {
    align-items: center;
    justify-content: center;
  }
  .guidedDesign {
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
  .callToAction {
    padding-top: var(--padding-59xl);
    padding-bottom: var(--padding-58xl);
    box-sizing: border-box;
  }
  .futureLiving {
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
  }
  .revolutionContent,
  .revolutionContent1 {
    padding-top: var(--padding-59xl);
    padding-bottom: var(--padding-59xl);
    box-sizing: border-box;
    align-items: center;
  }
  .revolutionContent1 {
    padding-top: var(--padding-121xl);
    padding-bottom: var(--padding-121xl);
  }
  .pinnaqleIntro {
    flex-wrap: wrap;
    justify-content: center;
  }
  .deviceIntegration {
    flex: 1;
  }
  .deviceIntegrationParent {
    flex-wrap: wrap;
  }
  .pinnaqleWorld,
  .simpleHome {
    padding-top: 5rem;
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .simpleHome {
    gap: var(--gap-21xl);
    padding-bottom: 5rem;
  }
  .researchedPackages {
    flex-direction: column;
  }
}
/* @media screen and (min-width: 1125){

} */

@media screen and (max-width: 800px) {
  /* .h1Title32{
    width: 100%;
  } */
  .researchedPackages {
    flex-direction: column;
  }
  .autoLayoutHorizontal {
    display: none;
  }
  /* .joinTheSmart {
    margin-left: 90px;
  } */
  .joinRevolution1 {
    align-items: center;
  }
  .joinRevolution {
    align-items: center;
    justify-content: center;
  }
  .header1 {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .ht
  .h1Title64 {
    font-size: var(--font-size-32xl);
    line-height: 3.813rem;
    padding: 0px 0px;
  }
  .h1Title34 {
    font-size: var(--font-size-7xl);
    line-height: 2.188rem;
  }
  .autoLayoutVertical {
    gap: var(--gap-xl);
    padding-top: var(--padding-85xl);
    padding-bottom: var(--padding-85xl);
    box-sizing: border-box;
  }
  .h1Title32,
  .pinnaqleHomeIs {
    font-size: 32px;
    line-height: 2.188rem;
  }
  .photoInRow {
    gap: var(--gap-xl);
  }
  .section2 {
    gap: var(--gap-lgi);
    padding-top: 4rem;
    padding-bottom: 4rem;
    box-sizing: border-box;
  }
  .h1Title48 {
    font-size: var(--font-size-19xl);
    line-height: 3rem;
  }

  .frameDiv,
  .tdesigncloseContainer,
  .tdesigncloseGroup,
  .tdesigncloseParent,
  .websiteProcess {
    /* flex-wrap: wrap; */
    align-items: self-start;
    justify-content: center;
  }

  .guidedDesign,
  .section3 {
    gap: var(--gap-xl);
  }
  .section3 {
    padding-top: 4rem;
    padding-bottom: 4rem;
    box-sizing: border-box;
  }
  .joinThePinnaqle {
    font-size: var(--font-size-19xl);
    line-height: 3rem;
  }
  .homeowners {
    font-size: var(--font-size-7xl);
    line-height: 2.75rem;
  }
  .homeownersParent {
    flex: 1;
  }
  .professionals1 {
    font-size: var(--font-size-7xl);
    line-height: 2.188rem;
  }
  .professionalsParent {
    flex: 1;
  }
  .frameParent {
    flex-wrap: wrap;
  }
  .callToAction {
    gap: var(--gap-5xl);
    padding-top: var(--padding-32xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .pinnaqle1,
  .whyHomeAutomation {
    font-size: var(--font-size-19xl);
    line-height: 3rem;
  }
  .content {
    gap: var(--gap-xl);
    padding-left: var(--padding-178xl);
    padding-right: var(--padding-178xl);
    box-sizing: border-box;
  }
  .welcomeToThe {
    font-size: var(--font-size-19xl);
    line-height: 3rem;
  }
  .embraceTheChangeContainer {
    font-size: var(--font-size-7xl);
    line-height: 2.188rem;
  }
  .convenienceAtYourFingertipsParent,
  .enhancedSecurityParent {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .benefitsGrid {
    gap: var(--gap-xl);
  }
  .benefitsGrid2,
  .homeBenefits {
    gap: var(--gap-xl);
  }
  .section5,
  .revolutionContent {
    gap: var(--gap-xl);
    padding-top: var(--padding-32xl);
    padding-bottom: var(--padding-32xl);
    box-sizing: border-box;
  }
  .revolutionContent {
    gap: var(--gap-11xl);
    min-width: 100%;
  }
  .howDoesIt {
    font-size: var(--font-size-19xl);
    line-height: 3rem;
    margin-left: 60px;
  }
  .revolutionContent1 {
    gap: var(--gap-11xl);
    padding: var(--padding-72xl) var(--padding-41xl) var(--padding-72xl)
      var(--padding-21xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .div,
  .whyAppleHomekit {
    font-size: var(--font-size-19xl);
    line-height: 3rem;
  }
  .content1 {
    gap: var(--gap-xl);
    padding-left: var(--padding-194xl);
    padding-right: var(--padding-194xl);
    box-sizing: border-box;
  }
  .welcomeToThe1 {
    font-size: var(--font-size-19xl);
    line-height: 3rem;
  }
  .integrationPoints {
    padding-top: var(--padding-12xl);
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
  }
  .deviceIntegration {
    min-width: 100%;
  }
  .experiencePoints {
    gap: var(--gap-mini);
  }
  .userExperience {
    gap: var(--gap-2xl);
    min-width: 100%;
  }
  .deviceIntegrationParent,
  .pinnaqleWorld {
    gap: var(--gap-xl);
  }
  .div1,
  .whyPinnaqleHome {
    font-size: var(--font-size-19xl);
    line-height: 3rem;
  }
  .content2 {
    gap: var(--gap-xl);
    padding-left: var(--padding-193xl);
    padding-right: var(--padding-193xl);
    box-sizing: border-box;
  }
  .pinnaqleHomeMakesContainer,
  .weHaveDone {
    font-size: var(--font-size-7xl);
    line-height: 2.188rem;
  }
  .valuePackages {
    flex: 1;
    min-width: 100%;
  }

  .ourWebsiteToolContainer {
    font-size: var(--font-size-7xl);
    line-height: 2.188rem;
  }
  .simpleHome {
    padding-top: var(--padding-14xl);
    padding-bottom: var(--padding-14xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .smartSecureSimple {
    font-size: var(--body-base-text-size);
    line-height: 1.125rem;
  }
  .h1Title64 {
    padding: 0px 0px;
    font-size: var(--font-size-19xl);
    line-height: 2.875rem;
  }
  .h1Title32,
  .pinnaqleHomeIs,
  .h3Label,
  .h1Title34 {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .section2Photo,
  .h3Title24 {
    gap: var(--gap-xl);
  }
  .capitalizeDivWidth38Weight500 {
    font-size: 1.25rem;
    line-height: 1.125rem;
  }
  .h1Title48 {
    font-size: var(--font-size-10xl);
    line-height: 2.25rem;
  }
  .h3LabelM450 {
    font-size: var(--font-size-lgi);
    line-height: 1.813rem;
  }
  .section3 {
    padding-top: var(--padding-32xl);
    padding-bottom: var(--padding-32xl);
    box-sizing: border-box;
  }
  .joinThePinnaqle {
    font-size: var(--font-size-10xl);
    line-height: 2.25rem;
  }
  .homeowners,
  .professionals1 {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .professionalsParent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frameParent {
    gap: var(--gap-xl);
  }
  .h3GrayItalic24 {
    font-size: var(--font-size-lgi);
    line-height: 1.813rem;
  }
  .pinnaqle1,
  .whyHomeAutomation {
    font-size: var(--font-size-10xl);
    line-height: 2.25rem;
  }
  .content {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .welcomeToThe {
    font-size: var(--font-size-10xl);
    line-height: 2.25rem;
  }
  .embraceHomeAutomation {
    font-size: var(--font-size-lgi);
    line-height: 1.813rem;
  }
  .convenienceAtYour,
  .embraceTheChangeContainer {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .convenienceAtYour {
    line-height: 1.813rem;
  }
  .convenienceAtYourFingertipsParent {
    min-width: 100%;
  }
  .enhancedSecurity {
    font-size: var(--font-size-lgi);
    line-height: 1.813rem;
  }
  .enhancedSecurityParent {
    min-width: 100%;
  }
  .section5 {
    padding-top: var(--padding-14xl);
    padding-bottom: var(--padding-14xl);
    box-sizing: border-box;
  }
  .howDoesIt {
    font-size: var(--font-size-10xl);
    line-height: 2.25rem;
  }
  .joinTheSmart {
    font-size: var(--font-size-lgi);
    line-height: 1.813rem;
  }
  .revolutionContent1 {
    gap: var(--gap-mini);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .div,
  .whyAppleHomekit {
    font-size: var(--font-size-10xl);
    line-height: 2.25rem;
  }
  .content1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .welcomeToThe1 {
    font-size: var(--font-size-10xl);
    line-height: 2.25rem;
  }
  .seamlessIntegrationAcross,
  .whereInnovationMeets {
    font-size: var(--font-size-lgi);
    line-height: 1.813rem;
  }
  .integrationPoints {
    gap: var(--gap-mini);
  }
  .unmatchedSecurityAnd {
    font-size: var(--font-size-lgi);
    line-height: 1.813rem;
  }
  .integrationPoints1 {
    gap: var(--gap-mini);
    padding-top: var(--padding-12xl);
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
  }
  .deviceIntegration {
    gap: var(--gap-xl);
  }

  .ecoFriendlyAndEnergy,
  .simplicityAndConvenience {
    font-size: var(--font-size-lgi);
    line-height: 1.813rem;
  }
  .pinnaqleWorld {
    padding-top: var(--padding-14xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .div1,
  .whyPinnaqleHome {
    font-size: var(--font-size-10xl);
    line-height: 2.25rem;
  }
  .content2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .pinnaqleHomeMakesContainer,
  .weAssembledPackages,
  .weHaveDone {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .weAssembledPackages {
    line-height: 1.813rem;
  }
  .packageAssembly {
    padding-left: var(--padding-xl);
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-30xl);
    box-sizing: border-box;
  }
  .ourWebsiteToolContainer {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .simpleHome {
    gap: var(--gap-xl);
  }
}
