.testProject {
    text-decoration: none;
    align-self: stretch;
    position: relative;
    line-height: 2.75rem;
    font-weight: 600;
    color: inherit;
    white-space: nowrap;
  }
  .testProjectWrapper {
    width: 10.375rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
    box-sizing: border-box;
  }
  .a,
  .frameChild {
    position: absolute;
  }
  .frameChild {
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #ebe8e8;
    width: 100%;
    height: 100%;
  }
  .a {
    text-decoration: none;
    top: 0.275rem;
    left: 1.113rem;
    line-height: 2.5rem;
    font-weight: 600;
    color: inherit;
    display: inline-block;
    min-width: 0.688rem;
    white-space: nowrap;
    z-index: 1;
  }
  .ellipseParent {
    height: 3rem;
    width: 3rem;
    position: relative;
  }
  .projectStructure {
    text-decoration: none;
    align-self: stretch;
    position: relative;
    line-height: 2.75rem;
    font-weight: 600;
    color: inherit;
    white-space: nowrap;
  }
  .frameGroup,
  .projectStructureWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .projectStructureWrapper {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-11xs) 0 0;
    font-size: var(--font-size-xl);
    color: var(--color-gray-400);
  }
  .frameGroup {
    width: 14.125rem;
    flex-direction: row;
    gap: var(--gap-smi);
    color: var(--color-royalblue);
  }
  .a1,
  .frameItem {
    position: absolute;
  }
  .frameItem {
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 0 solid var(--color-gainsboro-500);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  .a1 {
    text-decoration: none;
    top: 0.275rem;
    left: 1.056rem;
    line-height: 2.5rem;
    font-weight: 600;
    color: inherit;
    display: inline-block;
    min-width: 0.875rem;
    white-space: nowrap;
    z-index: 1;
  }
  .ellipseGroup {
    height: 3rem;
    width: 3rem;
    position: relative;
  }
  .projectFunction {
    text-decoration: none;
    position: relative;
    line-height: 2.75rem;
    color: inherit;
    white-space: nowrap;
  }
  .frameContainer,
  .projectFunctionWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .projectFunctionWrapper {
    flex-direction: column;
    padding: var(--padding-11xs) 0 0;
    font-size: var(--font-size-xl);
    
  }
  .frameContainer {
    flex-direction: row;
    gap: var(--gap-smi);
  }
  .a2,
  .frameInner {
    position: absolute;
  }
  .frameInner {
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 0 solid var(--color-gainsboro-500);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  .a2 {
    text-decoration: none;
    top: 0.275rem;
    left: 1.056rem;
    line-height: 2.5rem;
    font-weight: 600;
    color: inherit;
    display: inline-block;
    min-width: 0.875rem;
    white-space: nowrap;
    z-index: 1;
  }
  .ellipseContainer {
    height: 3rem;
    width: 3rem;
    position: relative;
  }
  .projectDetailing {
    text-decoration: none;
    position: relative;
    line-height: 2.75rem;
    color: inherit;
    white-space: nowrap;
  }
  .frameDiv,
  .frameParent,
  .projectDetailingWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .projectDetailingWrapper {
    flex-direction: column;
    padding: var(--padding-11xs) 0 0;
    font-size: var(--font-size-xl);
    
  }
  .frameDiv,
  .frameParent {
    flex-direction: row;
  }
  .frameDiv {
    gap: 0.562rem;
  }
  .frameParent {
    gap: var(--gap-41xl);
    max-width: 100%;
    font-size: var(--font-size-2xl-3);
    color: var(--color-dimgray-100);
  }
  .xIcon {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
  }
  .header2,
  .xWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.25rem 0 0;
  }
  .header2 {
    align-self: stretch;
    background-color: var(--default-white);
    border-bottom: 1px solid var(--color-gainsboro-500);
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.75rem 2.5rem 1.625rem 3.75rem;
    top: 0;
    z-index: 99;
    position: sticky;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: center;
    font-size: var(--font-size-13xl);
    color: var(--color-gray-400);
    
  }
  .defineBuildingAreas {
    margin: 0;
    width: 18.563rem;
    position: relative;
    font-size: inherit;
    line-height: 2.75rem;
    font-weight: 600;
    
    display: inline-block;
  }
  .defineBuildingAreasWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
  }
  .chooseTheAreas {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-base);
    line-height: 1.75rem;
    
    color: var(--color-dimgray-100);
  }
  .frameParent1 {
    width: 39.688rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-smi);
    max-width: 100%;
  }
  .indoorArea,
  .step1newInner {
    
    text-align: center;
  }
  .step1newInner {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-13xl);
    color: var(--color-gray-400);
  }
  .indoorArea {
    width: 7.875rem;
    border: 0;
    outline: 0;
    font-weight: 600;
    font-size: var(--font-size-5xl);
    background-color: transparent;
    height: 2.25rem;
    position: relative;
    line-height: 2.25rem;
    color: var(--color-black);
    display: inline-block;
    padding: 0;
  }
  .rectangleDiv {
    align-self: stretch;
    height: 0.063rem;
    position: relative;
    background-color: var(--color-gainsboro-600);
  }
  .indoorAreaParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
  }
  .checkboxIconscheckedChild {

  }
  .check {
    margin: 0;
    position: absolute;
    top: 0.188rem;
    left: 0.188rem;
    width: 1.125rem;
    height: 1.125rem;
    overflow: hidden;
    z-index: 1;
  }
  .checkboxIconschecked {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
  }
  .house {
    position: relative;
    line-height: 1.75rem;
    font-weight: 600;
    display: inline-block;
    min-width: 3.875rem;
  }
  .checkboxIconscheckedParent {
    flex: 0.3333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 12.375rem 0 0;
    box-sizing: border-box;
    gap: var(--gap-smi);
    min-width: 5.375rem;
    font-size: var(--font-size-xl);
    color: var(--color-gray-400);
    
  }
  .label,
  .startAdornmentIcon {
    position: relative;
    display: none;
  }
  .label {
    width: 2.625rem;
    line-height: 1.25rem;
  }
  .startAdornmentIcon {
    height: 1rem;
    width: 1rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .placeholder {
    width: 100%;
    border: 0;
    outline: 0;
    
    font-size: var(--font-size-base);
    background-color: transparent;
    height: 1.25rem;
    flex: 1;
    position: relative;
    line-height: 1.25rem;
    color: var(--color-gray-400);
    text-align: left;
    display: inline-block;
    min-width: 9.875rem;
    padding: 0;
  }
  .endAdornmentIcon,
  .selectarrowIcon {
    height: 1rem;
    width: 1rem;
    position: relative;
    display: none;
  }
  .selectarrowIcon {
    overflow: hidden;
    flex-shrink: 0;
  }
  .content {
    align-self: stretch;
    border-radius: var(--br-7xs);
    background-color: var(--default-white);
    border: 1px solid var(--color-gainsboro-500);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-mini);
    gap: var(--gap-5xs);
  }
  .helptext {
    width: 3.125rem;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 0.75rem;
    color: var(--gray-500);
    display: none;
  }
  .input {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
    min-width: 13.875rem;
  }
  .label1,
  .startAdornmentIcon1 {
    position: relative;
    display: none;
  }
  .label1 {
    width: 2.625rem;
    line-height: 1.25rem;
  }
  .startAdornmentIcon1 {
    height: 1rem;
    width: 1rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .placeholder1 {
    flex: 1;
    position: relative;
    line-height: 1.25rem;
  }
  .endAdornmentIcon1,
  .selectarrowIcon1 {
    height: 1rem;
    width: 1rem;
    position: relative;
    display: none;
  }
  .selectarrowIcon1 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .content1 {
    align-self: stretch;
    border-radius: var(--br-7xs);
    background-color: var(--default-white);
    border: 1px solid var(--color-gainsboro-500);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-mini);
    gap: var(--gap-5xs);
    color: var(--color-dimgray-100);
  }
  .helptext1 {
    width: 3.125rem;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 0.75rem;
    color: var(--gray-500);
    display: none;
  }
  .frameParent4,
  .input1 {
    display: flex;
    justify-content: flex-start;
  }
  .input1 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-7xs);
    min-width: 13.875rem;
  }
  .frameParent4 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xl);
  }
  .checkboxIconscheckedItem {

  }
  .check1 {
    margin: 0;
    position: absolute;
    top: 0.188rem;
    left: 0.188rem;
    width: 1.125rem;
    height: 1.125rem;
    overflow: hidden;
    z-index: 1;
  }
  .checkboxIconschecked1 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
  }
  .garage {
    position: relative;
    line-height: 1.75rem;
    font-weight: 600;
    display: inline-block;
    min-width: 4.375rem;
  }
  .checkboxIconscheckedGroup {
    flex: 0.3603;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 11.875rem 0 0;
    box-sizing: border-box;
    gap: var(--gap-smi);
    min-width: 5.875rem;
    font-size: var(--font-size-xl);
    color: var(--color-gray-400);
    
  }
  .label2,
  .startAdornmentIcon2 {
    position: relative;
    display: none;
  }
  .label2 {
    width: 2.625rem;
    line-height: 1.25rem;
  }
  .startAdornmentIcon2 {
    height: 1rem;
    width: 1rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .placeholder2 {
    width: 100%;
    border: 0;
    outline: 0;
    
    font-size: var(--font-size-base);
    background-color: transparent;
    height: 1.25rem;
    flex: 1;
    position: relative;
    line-height: 1.25rem;
    color: var(--color-gray-400);
    text-align: left;
    display: inline-block;
    min-width: 9.875rem;
    padding: 0;
  }
  .endAdornmentIcon2,
  .selectarrowIcon2 {
    height: 1rem;
    width: 1rem;
    position: relative;
    display: none;
  }
  .selectarrowIcon2 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .content2 {
    align-self: stretch;
    border-radius: var(--br-7xs);
    background-color: var(--default-white);
    border: 1px solid var(--color-gainsboro-500);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-mini);
    gap: var(--gap-5xs);
  }
  .helptext2 {
    width: 3.125rem;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 0.75rem;
    color: var(--gray-500);
    display: none;
  }
  .input2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
    min-width: 13.875rem;
  }
  .label3,
  .startAdornmentIcon3 {
    position: relative;
    display: none;
  }
  .label3 {
    width: 2.625rem;
    line-height: 1.25rem;
  }
  .startAdornmentIcon3 {
    height: 1rem;
    width: 1rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .placeholder3 {
    flex: 1;
    position: relative;
    line-height: 1.25rem;
  }
  .endAdornmentIcon3,
  .selectarrowIcon3 {
    height: 1rem;
    width: 1rem;
    position: relative;
    display: none;
  }
  .selectarrowIcon3 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .content3 {
    align-self: stretch;
    border-radius: var(--br-7xs);
    background-color: var(--default-white);
    border: 1px solid var(--color-gainsboro-500);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-mini);
    gap: var(--gap-5xs);
    color: var(--color-dimgray-100);
  }
  .helptext3 {
    width: 3.125rem;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 0.75rem;
    color: var(--gray-500);
    display: none;
  }
  .frameParent5,
  .input3 {
    display: flex;
    justify-content: flex-start;
  }
  .input3 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-7xs);
    min-width: 13.875rem;
  }
  .frameParent5 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xl);
  }
  .checkboxIconscheckedInner {
    
  }
  .check2 {
    margin: 0;
    position: absolute;
    top: 0.188rem;
    left: 0.188rem;
    width: 1.125rem;
    height: 1.125rem;
    overflow: hidden;
    z-index: 1;
  }
  .checkboxIconschecked2 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
  }
  .shed {
    flex: 1;
    position: relative;
    line-height: 1.75rem;
    font-weight: 600;
  }
  .checkboxIconscheckedContainer {
    flex: 0.2929;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 13.125rem 0 0;
    box-sizing: border-box;
    gap: var(--gap-smi);
    min-width: 4.625rem;
    font-size: var(--font-size-xl);
    color: var(--color-gray-400);
    
  }
  .label4,
  .startAdornmentIcon4 {
    position: relative;
    display: none;
  }
  .label4 {
    width: 2.625rem;
    line-height: 1.25rem;
  }
  .startAdornmentIcon4 {
    height: 1rem;
    width: 1rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .placeholder4 {
    flex: 1;
    position: relative;
    line-height: 1.25rem;
  }
  .endAdornmentIcon4,
  .selectarrowIcon4 {
    height: 1rem;
    width: 1rem;
    position: relative;
    display: none;
  }
  .selectarrowIcon4 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .content4 {
    align-self: stretch;
    border-radius: var(--br-7xs);
    background-color: var(--default-white);
    border: 1px solid var(--color-gainsboro-500);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-mini);
    gap: var(--gap-5xs);
    color: var(--color-gray-400);
  }
  .helptext4 {
    width: 3.125rem;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 0.75rem;
    color: var(--gray-500);
    display: none;
  }
  .input4 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
    min-width: 13.875rem;
  }
  .label5,
  .startAdornmentIcon5 {
    position: relative;
    display: none;
  }
  .label5 {
    width: 2.625rem;
    line-height: 1.25rem;
  }
  .startAdornmentIcon5 {
    height: 1rem;
    width: 1rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .placeholder5 {
    flex: 1;
    position: relative;
    line-height: 1.25rem;
  }
  .endAdornmentIcon5,
  .selectarrowIcon5 {
    height: 1rem;
    width: 1rem;
    position: relative;
    display: none;
  }
  .selectarrowIcon5 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .content5 {
    align-self: stretch;
    border-radius: var(--br-7xs);
    background-color: var(--default-white);
    border: 1px solid var(--color-gainsboro-500);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-mini);
    gap: var(--gap-5xs);
    color: var(--color-dimgray-100);
  }
  .helptext5 {
    width: 3.125rem;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 0.75rem;
    color: var(--gray-500);
    display: none;
  }
  .frameParent6,
  .input5 {
    display: flex;
    justify-content: flex-start;
  }
  .input5 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-7xs);
    min-width: 13.875rem;
  }
  .frameParent6 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xl);
  }
  .addAnother {
    position: relative;
    line-height: 1.5rem;
    font-weight: 600;
    
    color: var(--color-royalblue);
    display: inline-block;
    min-width: 6.688rem;
  }
  .frameParent3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
  }
  .frameParent2,
  .step1newChild {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frameParent2 {
    width: 58.188rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-11xl);
  }
  .step1newChild {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
    
  }
  .outdoorArea {
    width: 9.125rem;
    border: 0;
    outline: 0;
    font-weight: 600;
    
    font-size: var(--font-size-5xl);
    background-color: transparent;
    height: 2.25rem;
    position: relative;
    line-height: 2.25rem;
    color: var(--color-black);
    text-align: center;
    display: inline-block;
    padding: 0;
  }
  .frameChild1 {
    align-self: stretch;
    height: 0.063rem;
    position: relative;
    background-color: var(--color-gainsboro-600);
  }
  .outdoorAreaParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
  }
  .checkboxIconscheckedChild1 {

  }
  .check3 {
    margin: 0;
    position: absolute;
    top: 0.188rem;
    left: 0.188rem;
    width: 1.125rem;
    height: 1.125rem;
    overflow: hidden;
    z-index: 1;
  }
  .checkboxIconschecked3 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
  }
  .frontGarden {
    position: relative;
    line-height: 1.75rem;
    font-weight: 600;
    display: inline-block;
    min-width: 7.875rem;
  }
  .checkboxIconscheckedParent1 {
    flex: 0.5488;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 8.375rem 0 0;
    box-sizing: border-box;
    gap: var(--gap-smi);
    min-width: 9.375rem;
    font-size: var(--font-size-xl);
    color: var(--color-gray-400);
    
  }
  .label6,
  .startAdornmentIcon6 {
    position: relative;
    display: none;
  }
  .label6 {
    width: 2.625rem;
    line-height: 1.25rem;
  }
  .startAdornmentIcon6 {
    height: 1rem;
    width: 1rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .placeholder6 {
    width: 100%;
    border: 0;
    outline: 0;
    
    font-size: var(--font-size-base);
    background-color: transparent;
    height: 1.25rem;
    flex: 1;
    position: relative;
    line-height: 1.25rem;
    color: var(--color-dimgray-100);
    text-align: left;
    display: inline-block;
    min-width: 9.875rem;
    padding: 0;
  }
  .endAdornmentIcon6,
  .selectarrowIcon6 {
    height: 1rem;
    width: 1rem;
    position: relative;
    display: none;
  }
  .selectarrowIcon6 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .content6 {
    align-self: stretch;
    border-radius: var(--br-7xs);
    background-color: var(--default-white);
    border: 1px solid var(--color-gainsboro-500);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-mini);
    gap: var(--gap-5xs);
  }
  .helptext6 {
    width: 3.125rem;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 0.75rem;
    color: var(--gray-500);
    display: none;
  }
  .input6 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
    min-width: 13.875rem;
  }
  .label7,
  .startAdornmentIcon7 {
    position: relative;
    display: none;
  }
  .label7 {
    width: 2.625rem;
    line-height: 1.25rem;
  }
  .startAdornmentIcon7 {
    height: 1rem;
    width: 1rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .placeholder7 {
    flex: 1;
    position: relative;
    line-height: 1.25rem;
  }
  .endAdornmentIcon7,
  .selectarrowIcon7 {
    height: 1rem;
    width: 1rem;
    position: relative;
    display: none;
  }
  .selectarrowIcon7 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .content7 {
    align-self: stretch;
    border-radius: var(--br-7xs);
    background-color: var(--default-white);
    border: 1px solid var(--color-gainsboro-500);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-mini);
    gap: var(--gap-5xs);
    color: var(--color-dimgray-100);
  }
  .helptext7 {
    width: 3.125rem;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 0.75rem;
    color: var(--gray-500);
    display: none;
  }
  .frameParent9,
  .input7 {
    display: flex;
    justify-content: flex-start;
  }
  .input7 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-7xs);
    min-width: 13.875rem;
  }
  .frameParent9 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xl);
  }
  .checkboxIconsuncheck {
    margin: 0;
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
  }
  .house1 {
    position: relative;
    line-height: 1.75rem;
    font-weight: 600;
    display: inline-block;
    min-width: 7.688rem;
  }
  .checkboxIconsuncheckParent {
    flex: 0.5387;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 8.562rem 0 0;
    box-sizing: border-box;
    gap: var(--gap-smi);
    min-width: 9.188rem;
    font-size: var(--font-size-xl);
    color: var(--color-gray-400);
    
  }
  .label8,
  .startAdornmentIcon8 {
    position: relative;
    display: none;
  }
  .label8 {
    width: 2.625rem;
    line-height: 1.25rem;
  }
  .startAdornmentIcon8 {
    height: 1rem;
    width: 1rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .placeholder8 {
    align-self: stretch;
    flex: 1;
    position: relative;
    line-height: 1.25rem;
  }
  .endAdornmentIcon8,
  .selectarrowIcon8 {
    height: 1rem;
    width: 1rem;
    position: relative;
    display: none;
  }
  .selectarrowIcon8 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .content8 {
    align-self: stretch;
    height: 3rem;
    border-radius: var(--br-7xs);
    background-color: var(--default-white);
    border: 1px solid var(--color-gainsboro-500);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-mini);
    gap: var(--gap-5xs);
    color: var(--color-gray-400);
  }
  .helptext8 {
    width: 3.125rem;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 0.75rem;
    color: var(--gray-500);
    display: none;
  }
  .input8 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
    opacity: 0;
    min-width: 13.875rem;
  }
  .label9,
  .startAdornmentIcon9 {
    position: relative;
    display: none;
  }
  .label9 {
    width: 2.625rem;
    line-height: 1.25rem;
  }
  .startAdornmentIcon9 {
    height: 1rem;
    width: 1rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .placeholder9 {
    align-self: stretch;
    flex: 1;
    position: relative;
    line-height: 1.25rem;
  }
  .endAdornmentIcon9,
  .selectarrowIcon9 {
    height: 1rem;
    width: 1rem;
    position: relative;
    display: none;
  }
  .selectarrowIcon9 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .content9 {
    align-self: stretch;
    height: 3rem;
    border-radius: var(--br-7xs);
    background-color: var(--default-white);
    border: 1px solid var(--color-gainsboro-500);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-mini);
    gap: var(--gap-5xs);
    color: var(--color-dimgray-100);
  }
  .helptext9 {
    width: 3.125rem;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 0.75rem;
    color: var(--gray-500);
    display: none;
  }
  .buildingAreaComponent,
  .input9 {
    display: flex;
    justify-content: flex-start;
  }
  .input9 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-7xs);
    opacity: 0;
    min-width: 13.875rem;
  }
  .buildingAreaComponent {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xl);
  }
  .checkboxIconsuncheck1 {
    margin: 0;
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
  }
  .house2 {
    position: relative;
    line-height: 1.75rem;
    font-weight: 600;
    display: inline-block;
    min-width: 4.563rem;
  }
  .checkboxIconsuncheckGroup {
    flex: 0.3704;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 11.687rem 0 0;
    box-sizing: border-box;
    gap: var(--gap-smi);
    min-width: 6.063rem;
    font-size: var(--font-size-xl);
    color: var(--color-gray-400);
    
  }
  .label10 {
    width: 2.625rem;
    position: relative;
    line-height: 1.25rem;
    display: none;
  }
  .startAdornmentIcon10 {
    height: 1rem;
    width: 1rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .placeholder10 {
    align-self: stretch;
    flex: 1;
    position: relative;
    line-height: 1.25rem;
  }
  .endAdornmentIcon10,
  .selectarrowIcon10 {
    height: 1rem;
    width: 1rem;
    position: relative;
    display: none;
  }
  .selectarrowIcon10 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .content10 {
    align-self: stretch;
    height: 3rem;
    border-radius: var(--br-7xs);
    background-color: var(--default-white);
    border: 1px solid var(--color-gainsboro-500);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-mini);
    gap: var(--gap-5xs);
    color: var(--color-gray-400);
  }
  .helptext10 {
    width: 3.125rem;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 0.75rem;
    color: var(--gray-500);
    display: none;
  }
  .input10 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
    opacity: 0;
    min-width: 13.875rem;
  }
  .label11 {
    width: 2.625rem;
    position: relative;
    line-height: 1.25rem;
    display: none;
  }
  .startAdornmentIcon11 {
    height: 1rem;
    width: 1rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .placeholder11 {
    align-self: stretch;
    flex: 1;
    position: relative;
    line-height: 1.25rem;
  }
  .endAdornmentIcon11,
  .selectarrowIcon11 {
    height: 1rem;
    width: 1rem;
    position: relative;
    display: none;
  }
  .selectarrowIcon11 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .content11 {
    align-self: stretch;
    height: 3rem;
    border-radius: var(--br-7xs);
    background-color: var(--default-white);
    border: 1px solid var(--color-gainsboro-500);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-mini);
    gap: var(--gap-5xs);
    color: var(--color-dimgray-100);
  }
  .helptext11 {
    width: 3.125rem;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 0.75rem;
    color: var(--gray-500);
    display: none;
  }
  .buildingAreaComponent1,
  .input11 {
    display: flex;
    justify-content: flex-start;
  }
  .input11 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-7xs);
    opacity: 0;
    min-width: 13.875rem;
  }
  .buildingAreaComponent1 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xl);
  }
  .checkboxIconsuncheck2 {
    margin: 0;
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
  }
  .house3 {
    flex: 1;
    position: relative;
    line-height: 1.75rem;
    font-weight: 600;
  }
  .checkboxIconsuncheckContainer {
    flex: 0.6027;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 7.375rem 0 0;
    box-sizing: border-box;
    gap: var(--gap-smi);
    min-width: 10.375rem;
    font-size: var(--font-size-xl);
    color: var(--color-gray-400);
    
  }
  .label12 {
    width: 2.625rem;
    position: relative;
    line-height: 1.25rem;
    display: none;
  }
  .startAdornmentIcon12 {
    height: 1rem;
    width: 1rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .placeholder12 {
    align-self: stretch;
    flex: 1;
    position: relative;
    line-height: 1.25rem;
  }
  .endAdornmentIcon12,
  .selectarrowIcon12 {
    height: 1rem;
    width: 1rem;
    position: relative;
    display: none;
  }
  .selectarrowIcon12 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .content12 {
    align-self: stretch;
    height: 3rem;
    border-radius: var(--br-7xs);
    background-color: var(--default-white);
    border: 1px solid var(--color-gainsboro-500);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-mini);
    gap: var(--gap-5xs);
    color: var(--color-gray-400);
  }
  .helptext12 {
    width: 3.125rem;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 0.75rem;
    color: var(--gray-500);
    display: none;
  }
  .input12 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
    opacity: 0;
    min-width: 13.875rem;
  }
  .label13 {
    width: 2.625rem;
    position: relative;
    line-height: 1.25rem;
    display: none;
  }
  .startAdornmentIcon13 {
    height: 1rem;
    width: 1rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .placeholder13 {
    align-self: stretch;
    flex: 1;
    position: relative;
    line-height: 1.25rem;
  }
  .endAdornmentIcon13,
  .selectarrowIcon13 {
    height: 1rem;
    width: 1rem;
    position: relative;
    display: none;
  }
  .selectarrowIcon13 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .content13 {
    align-self: stretch;
    height: 3rem;
    border-radius: var(--br-7xs);
    background-color: var(--default-white);
    border: 1px solid var(--color-gainsboro-500);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-mini);
    gap: var(--gap-5xs);
    color: var(--color-dimgray-100);
  }
  .helptext13 {
    width: 3.125rem;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 0.75rem;
    color: var(--gray-500);
    display: none;
  }
  .buildingAreaComponent2,
  .input13 {
    display: flex;
    justify-content: flex-start;
  }
  .input13 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-7xs);
    opacity: 0;
    min-width: 13.875rem;
  }
  .buildingAreaComponent2 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xl);
  }
  .checkboxIconsuncheck3 {
    margin: 0;
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
  }
  .house4 {
    flex: 1;
    position: relative;
    line-height: 1.75rem;
    font-weight: 600;
  }
  .checkboxIconsuncheckParent1 {
    flex: 0.5589;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 8.187rem 0 0;
    box-sizing: border-box;
    gap: var(--gap-smi);
    min-width: 9.563rem;
    font-size: var(--font-size-xl);
    color: var(--color-gray-400);
    
  }
  .label14 {
    width: 2.625rem;
    position: relative;
    line-height: 1.25rem;
    display: none;
  }
  .startAdornmentIcon14 {
    height: 1rem;
    width: 1rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .placeholder14 {
    align-self: stretch;
    flex: 1;
    position: relative;
    line-height: 1.25rem;
  }
  .endAdornmentIcon14,
  .selectarrowIcon14 {
    height: 1rem;
    width: 1rem;
    position: relative;
    display: none;
  }
  .selectarrowIcon14 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .content14 {
    align-self: stretch;
    height: 3rem;
    border-radius: var(--br-7xs);
    background-color: var(--default-white);
    border: 1px solid var(--color-gainsboro-500);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-mini);
    gap: var(--gap-5xs);
    color: var(--color-gray-400);
  }
  .helptext14 {
    width: 3.125rem;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 0.75rem;
    color: var(--gray-500);
    display: none;
  }
  .input14 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
    opacity: 0;
    min-width: 13.875rem;
  }
  .label15 {
    width: 2.625rem;
    position: relative;
    line-height: 1.25rem;
    display: none;
  }
  .startAdornmentIcon15 {
    height: 1rem;
    width: 1rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .placeholder15 {
    align-self: stretch;
    flex: 1;
    position: relative;
    line-height: 1.25rem;
  }
  .endAdornmentIcon15,
  .selectarrowIcon15 {
    height: 1rem;
    width: 1rem;
    position: relative;
    display: none;
  }
  .selectarrowIcon15 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .content15 {
    align-self: stretch;
    height: 3rem;
    border-radius: var(--br-7xs);
    background-color: var(--default-white);
    border: 1px solid var(--color-gainsboro-500);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-mini);
    gap: var(--gap-5xs);
    color: var(--color-dimgray-100);
  }
  .helptext15 {
    width: 3.125rem;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 0.75rem;
    color: var(--gray-500);
    display: none;
  }
  .buildingAreaComponent3,
  .input15 {
    display: flex;
    justify-content: flex-start;
  }
  .input15 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-7xs);
    opacity: 0;
    min-width: 13.875rem;
  }
  .buildingAreaComponent3 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xl);
  }
  .checkboxIconsuncheck4 {
    margin: 0;
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
  }
  .house5 {
    position: relative;
    line-height: 1.75rem;
    font-weight: 600;
    display: inline-block;
    min-width: 4.813rem;
  }
  .checkboxIconsuncheckParent2 {
    flex: 0.3838;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 11.437rem 0 0;
    box-sizing: border-box;
    gap: var(--gap-smi);
    min-width: 6.313rem;
    font-size: var(--font-size-xl);
    color: var(--color-gray-400);
    
  }
  .label16 {
    width: 2.625rem;
    position: relative;
    line-height: 1.25rem;
    display: none;
  }
  .startAdornmentIcon16 {
    height: 1rem;
    width: 1rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .placeholder16 {
    align-self: stretch;
    flex: 1;
    position: relative;
    line-height: 1.25rem;
  }
  .endAdornmentIcon16,
  .selectarrowIcon16 {
    height: 1rem;
    width: 1rem;
    position: relative;
    display: none;
  }
  .selectarrowIcon16 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .content16 {
    align-self: stretch;
    height: 3rem;
    border-radius: var(--br-7xs);
    background-color: var(--default-white);
    border: 1px solid var(--color-gainsboro-500);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-mini);
    gap: var(--gap-5xs);
    color: var(--color-gray-400);
  }
  .helptext16 {
    width: 3.125rem;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 0.75rem;
    color: var(--gray-500);
    display: none;
  }
  .input16 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
    opacity: 0;
    min-width: 13.875rem;
  }
  .label17 {
    width: 2.625rem;
    position: relative;
    line-height: 1.25rem;
    display: none;
  }
  .startAdornmentIcon17 {
    height: 1rem;
    width: 1rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .placeholder17 {
    align-self: stretch;
    flex: 1;
    position: relative;
    line-height: 1.25rem;
  }
  .endAdornmentIcon17,
  .selectarrowIcon17 {
    height: 1rem;
    width: 1rem;
    position: relative;
    display: none;
  }
  .selectarrowIcon17 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .content17 {
    align-self: stretch;
    height: 3rem;
    border-radius: var(--br-7xs);
    background-color: var(--default-white);
    border: 1px solid var(--color-gainsboro-500);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-mini);
    gap: var(--gap-5xs);
    color: var(--color-dimgray-100);
  }
  .helptext17 {
    width: 3.125rem;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 0.75rem;
    color: var(--gray-500);
    display: none;
  }
  .buildingAreaComponent4,
  .input17 {
    display: flex;
    justify-content: flex-start;
  }
  .input17 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-7xs);
    opacity: 0;
    min-width: 13.875rem;
  }
  .buildingAreaComponent4 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xl);
  }
  .addAnother1 {
    position: relative;
    line-height: 1.5rem;
    font-weight: 600;
    
    color: var(--color-royalblue);
    display: inline-block;
    min-width: 6.688rem;
  }
  .frameParent8 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
  }
  .frameParent7,
  .frameSection {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frameParent7 {
    width: 58.188rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-11xl);
  }
  .frameSection {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
    
  }
  .chevronRightIcon {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 1.5rem;
  }
  .label18 {
    position: relative;
    font-size: var(--font-size-xl);
    line-height: 1.5rem;
    font-weight: 600;
    
    color: var(--color-royalblue);
    text-align: left;
    display: inline-block;
    min-width: 3rem;
  }
  .button,
  .buttonWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-lg) var(--padding-xl);
    background-color: #f7f7f7;
    width: 7.5rem;
    border-radius: var(--br-31xl);
    flex-direction: row;
    box-sizing: border-box;
    gap: 0.25rem;
  }
  .button:hover {
    background-color: #dedede;
  }
  .buttonWrapper {
    width: 13.625rem;
    flex-direction: column;
  }
  .ellipseDiv,
  .frameChild2,
  .frameChild3 {
    height: 0.625rem;
    width: 0.625rem;
    position: relative;
    border-radius: 50%;
  }

  .ellipseParent1,
  .frameWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .ellipseParent1 {
    flex-direction: row;
    gap: var(--gap-3xs);
  }
  .frameWrapper {
    flex-direction: column;
    padding: 1.562rem 0 0;
  }
  .label19 {
    position: relative;
    font-size: var(--font-size-xl);
    line-height: 1.5rem;
    font-weight: 600;
    
    color: var(--default-white);
    text-align: left;
    display: inline-block;
    min-width: 7.938rem;
  }
  .chevronRightIcon1 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 1.5rem;
  }
  .button1,
  .frameParent10 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .button1 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-lg) 1.5rem var(--padding-lg) 2rem;
    background-color: var(--color-royalblue);
    border-radius: var(--br-31xl);
    justify-content: flex-start;
    gap: var(--gap-3xs);
    white-space: nowrap;
  }
  .button1:hover {
    background-color: #478fff;
  }
  .frameParent10 {
    width: 58.313rem;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .step1new,
  .step1newInner1 {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .step1newInner1 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    max-width: 100%;
  }
  .step1new {
    width: 100%;
    position: relative;
    background-color: var(--default-white);
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 5rem;
    gap: var(--gap-41xl);
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 750px) {
    .frameParent {
      gap: var(--gap-11xl);
    }
    .header2 {
      padding-left: 1.875rem;
      box-sizing: border-box;
    }
    .defineBuildingAreas {
      font-size: 1.625rem;
      line-height: 2.188rem;
    }
    .buildingAreaComponent,
    .buildingAreaComponent1,
    .buildingAreaComponent2,
    .buildingAreaComponent3,
    .buildingAreaComponent4,
    .frameParent4,
    .frameParent5,
    .frameParent6,
    .frameParent9 {
      flex-wrap: wrap;
    }
    .step1new {
      gap: var(--gap-11xl);
    }
  }
  @media screen and (max-width: 675px) {
    .frameParent10 {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  @media screen and (max-width: 450px) {
    .defineBuildingAreas,
    .indoorArea {
      font-size: var(--font-size-lgi);
      line-height: 1.625rem;
    }
    .indoorArea {
      line-height: 1.813rem;
    }
    .house {
      font-size: var(--font-size-base);
      line-height: 1.375rem;
    }
    .checkboxIconscheckedParent {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
      flex: 1;
    }
    .garage {
      font-size: var(--font-size-base);
      line-height: 1.375rem;
    }
    .checkboxIconscheckedGroup {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
      flex: 1;
    }
    .shed {
      font-size: var(--font-size-base);
      line-height: 1.375rem;
    }
    .checkboxIconscheckedContainer {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
      flex: 1;
    }
    .outdoorArea {
      font-size: var(--font-size-lgi);
      line-height: 1.813rem;
    }
    .frontGarden {
      font-size: var(--font-size-base);
      line-height: 1.375rem;
    }
    .checkboxIconscheckedParent1 {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
      flex: 1;
    }
    .house1 {
      font-size: var(--font-size-base);
      line-height: 1.375rem;
    }
    .checkboxIconsuncheckParent {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
      flex: 1;
    }
    .house2 {
      font-size: var(--font-size-base);
      line-height: 1.375rem;
    }
    .checkboxIconsuncheckGroup {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
      flex: 1;
    }
    .house3 {
      font-size: var(--font-size-base);
      line-height: 1.375rem;
    }
    .checkboxIconsuncheckContainer {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
      flex: 1;
    }
    .house4 {
      font-size: var(--font-size-base);
      line-height: 1.375rem;
    }
    .checkboxIconsuncheckParent1 {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
      flex: 1;
    }
    .house5 {
      font-size: var(--font-size-base);
      line-height: 1.375rem;
    }
    .checkboxIconsuncheckParent2 {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
      flex: 1;
    }
    .label18 {
      font-size: var(--font-size-base);
      line-height: 1.188rem;
    }
  }