.loginToYour {
    margin: 0;
    position: relative;
    font-size: var(--font-size-13xl);
    line-height: 44px;
    font-weight: 600;
    color: var(--color-gray-400);
    text-align: center;
    display: inline-block;
  }
  .checkboxIconsuncheck {
    margin: 0;
    height: 16px;
    width: 16px;
    position: relative;
  }
  .icon {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs);
  }
  .label {
    position: relative;
    font-size: var(--body-base-text-size);
    line-height: 28px;
    color: var(--gray-800);
    text-align: left;
    display: inline-block;
    min-width: 109px;
  }
  .checks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .forgotPassword {
    position: relative;
    font-size: var(--body-base-text-size);
    text-decoration: underline;
    line-height: 28px;
    font-weight: 500;
    color: var(--color-dimgray-100);
    text-align: left;
  }
  .checksParent,
  .inputParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .inputParent {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    cursor: pointer;
  }
  .label1 {
    position: relative;
    font-size: var(--font-size-xl);
    line-height: 24px;
    font-weight: 600;
    color: var(--default-white);
    text-align: left;
    display: inline-block;
    min-width: 59px;
  }
  .button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-lg) var(--padding-13xl);
    background-color: var(--color-royalblue);
    border-radius: var(--br-31xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
  .button:hover {
    background-color: var(--color-dodgerblue);
  }
  .newHere,
  .registerNow {
    position: relative;
    font-size: var(--body-base-text-size);
    line-height: 20px;
    color: var(--color-dimgray-100);
    text-align: left;
    display: inline-block;
    min-width: 80px;
  }
  .registerNow {
    text-decoration: underline;
    line-height: 28px;
    font-weight: 500;
    color: var(--color-royalblue);
    min-width: 103px;
    cursor: pointer;
  }
  .newHereParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-11xs);
  }
  .buttonParent,
  .login,
  .loginInner,
  .loginToYourAccountParent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .buttonParent {
    align-items: flex-start;
    padding: 0 207px 0 0;
    gap: var(--gap-xl);
  }
  .login,
  .loginInner,
  .loginToYourAccountParent {
    max-width: 100%;
  }
  .loginToYourAccountParent {
    margin: 0;
    width: 400px;
    align-items: flex-start;
    gap: var(--gap-21xl);
  }
  .login,
  .loginInner {
    box-sizing: border-box;
  }
  .loginInner {
    align-self: stretch;
    background-color: var(--color-gray-100);
    align-items: center;
    padding: var(--padding-101xl) var(--padding-xl) 256px;
    min-height: 800px;
  }
  .login {
    background-color: var(--default-white);
    align-items: flex-start;
    padding: 0 0 var(--padding-81xl);
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 800px) {
    .loginToYour {
      font-size: var(--font-size-7xl);
      line-height: 35px;
    }
    .loginInner {
      padding-top: var(--padding-59xl);
      padding-bottom: 166px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .loginToYour {
      font-size: var(--font-size-lgi);
      line-height: 26px;
    }
    .checksParent {
      flex-wrap: wrap;
    }
    .buttonParent {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .loginToYourAccountParent {
      gap: var(--gap-xl);
    }
    .loginInner {
      gap: var(--gap-41xl);
      padding-top: var(--padding-32xl);
      padding-bottom: 108px;
      box-sizing: border-box;
    }
  }
  