/* @import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap"); */
body {
  margin: 0;
  line-height: normal;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}
:root {

  /* font sizes */
  --font-size-xl: 1.25rem;
  --body-base-text-size: 1rem;
  --font-size-5xl: 1.5rem;
  --font-size-lgi: 1.188rem;
  --font-size-13xl: 2rem;
  --font-size-7xl: 1.625rem;
  --font-size-2xl-3: 1.331rem;
  --font-size-34xl-3: 3.331rem;
  --font-size-24xl: 2.688rem;
  --font-size-45xl: 4rem;
  --font-size-19xl: 2.375rem;
  --font-size-32xl: 3.188rem;
  --font-size-18xl-3: 2.331rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-29xl: 3rem;
  --font-size-10xl: 1.813rem;
  --font-size-27xl-7: 2.919rem;
  --font-size-9xl: 1.75rem;
  --font-size-18xl: 2.313rem;

  /* Colors */
  --default-white: #fff;
  --color-royalblue: #2d74fe;
  --color-dodgerblue: #478fff;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #dee2e6;
  --color-gainsboro-300: #dbdee6;
  --color-gainsboro-400: #dedede;
  --color-gainsboro-500: #ddd;
  --color-gainsboro-600: #d9d9d9;
  --color-whitesmoke-100: #f7f7f7;
  --color-whitesmoke-200: #f5f5f5;
  --color-whitesmoke-300: #eee;
  --color-whitesmoke-400: #ebe8e8;
  --color-gray-100: #fafafa;
  --color-gray-200: #919191;
  --color-gray-300: #828282;
  --color-gray-400: #222;
  --color-gray-500: rgba(255, 255, 255, 0.05);
  --color-dimgray-100: #6e6e73;
  --color-dimgray-200: #6a6a6a;
  --color-dimgray-300: #545454;
  --color-black: #000;
  --color-aliceblue-100: #f4f8ff;
  --color-aliceblue-200: #e9f1fe;
  --color-lavender: #cfd9e6;
  --gray-800: #343a40;
  --gray-500: #adb5bd;
  --color-honeydew: #e0f6e0;
  --color-green: #039309;
  --color-silver-100: #c4c4c4;
  --color-silver-200: rgba(196, 196, 196, 0.09);
  --color-oldlace: #fff5e2;
  --color-olive: #9c9600;
  --color-lightgray-100: #d7d7d7;
  --color-lightgray-200: #cdcdcd;
  --color-lightgray-300: #ccc;
  --color-darkslateblue: #1c3b6d;
  --color-steelblue: #426194;
  --color-lightskyblue: #9dbeff;
  --color-orange: #eb9c01;
  --color-goldenrod: #f8bc47;
  --color-mediumseagreen: #009447;

  /* Gaps */
  --gap-40xl-7: 3.731rem;
  --gap-11xl: 1.875rem;
  --gap-xl: 1.25rem;
  --gap-117xl: 8.5rem;
  --gap-49xl: 4.25rem;
  --gap-3xs: 0.625rem;
  --gap-9xs: 0.25rem;
  --gap-20xl-7: 2.481rem;
  --gap-5xs: 0.5rem;
  --gap-3xs-8: 0.612rem;
  --gap-base: 1rem;
  --gap-smi: 0.812rem;
  --gap-41xl: 3.75rem;
  --gap-4xs: 0.562rem;
  --gap-21xl: 2.5rem;
  --gap-61xl: 5rem;
  --gap-7xs: 0.375rem;
  --gap-5xs-1: 0.443rem;
  --gap-11xs: 0.125rem;
  --gap-24xl: 2.687rem;
  --gap-2xl: 1.312rem;
  --gap-mini: 0.937rem;
  --gap-29xl: 3rem;
  --gap-5xl: 1.5rem;
  --gap-19xl: 2.375rem;
  --gap-lgi: 1.187rem;
  --gap-13xl: 2rem;
  --gap-lg: 1.125rem;
  --gap-36xl: 3.437rem;
  --gap-8xl: 1.687rem;
  --gap-20xl-8: 2.487rem;
  --gap-5xs-5: 0.468rem;
  --gap-22xl: 2.562rem;
  --gap-lg-5: 1.156rem;
  --gap-xs: 0.75rem;
  --gap-2xs-5: 0.656rem;
  --gap-6xs-7: 0.418rem;

  /* Paddings */
  --padding-41xl: 3.75rem;
  --padding-xl: 1.25rem;
  --padding-lg: 1.125rem;
  --padding-5xl: 1.5rem;
  --padding-13xl: 2rem;
  --padding-6xl: 1.562rem;
  --padding-11xs: 0.125rem;
  --padding-xs: 0.75rem;
  --padding-9xs: 0.25rem;
  --padding-21xl: 2.5rem;
  --padding-11xl: 1.875rem;
  --padding-5xs: 0.5rem;
  --padding-3xs: 0.625rem;
  --padding-mini: 0.937rem;
  --padding-4xl: 1.437rem;
  --padding-9xl: 1.75rem;
  --padding-7xl: 1.625rem;
  --padding-61xl: 5rem;
  --padding-59xl: 4.875rem;
  --padding-101xl: 7.5rem;
  --padding-14xl: 2.062rem;
  --padding-32xl: 3.187rem;
  --padding-29xl: 3rem;
  --padding-30xl: 3.062rem;
  --padding-39xl: 3.625rem;
  --padding-188xl: 12.937rem;
  --padding-19xl: 2.375rem;
  --padding-base: 1rem;
  --padding-8xl: 1.687rem;
  --padding-20xl: 2.437rem;
  --padding-smi: 0.812rem;
  --padding-12xl: 1.937rem;
  --padding-27xl: 2.875rem;
  --padding-sm: 0.875rem;
  --padding-35xl: 3.375rem;
  --padding-57xl: 4.75rem;
  --padding-26xl: 2.812rem;
  --padding-81xl: 6.25rem;
  --padding-79xl: 6.125rem;
  --padding-193xl: 13.25rem;
  --padding-99xl: 7.375rem;
  --padding-58xl: 4.812rem;
  --padding-31xl: 3.125rem;
  --padding-194xl: 13.312rem;
  --padding-196xl: 13.437rem;
  --padding-72xl: 5.687rem;
  --padding-121xl: 8.75rem;
  --padding-51xl: 4.375rem;
  --padding-178xl: 12.312rem;
  --padding-49xl: 4.25rem;
  --padding-40xl: 3.687rem;
  --padding-22xl: 2.562rem;
  --padding-54xl-5: 4.593rem;
  --padding-17xl: 2.25rem;
  --padding-36xl: 3.437rem;
  --padding-7xs: 0.375rem;
  --padding-141xl: 10rem;
  --padding-85xl: 6.5rem;
  --padding-75xl: 5.875rem;
  --padding-42xl: 3.812rem;
  --padding-2xl: 1.312rem;
  --padding-37xl: 3.5rem;
  --padding-164xl: 11.437rem;
  --padding-112xl: 8.187rem;
  --padding-168xl: 11.687rem;
  --padding-118xl: 8.562rem;
  --padding-115xl: 8.375rem;
  --padding-191xl: 13.125rem;
  --padding-171xl: 11.875rem;
  --padding-179xl: 12.375rem;
  --padding-60xl: 4.937rem;
  --padding-28xl: 2.937rem;
  --padding-626xl: 40.312rem;
  --padding-142xl: 10.062rem;
  --padding-303xl: 20.125rem;
  --padding-2xs: 0.687rem;
  --padding-69xl: 5.5rem;
  --padding-67xl: 5.375rem;
  --padding-65xl: 5.25rem;
  --padding-52xl: 4.437rem;
  --padding-64xl: 5.187rem;
  --padding-547xl: 35.375rem;
  --padding-base-5: 0.968rem;
  --padding-96xl: 7.187rem;
  --padding-53xl: 4.5rem;
  --padding-76xl-5: 5.968rem;
  --padding-lgi: 1.187rem;
  --padding-54xl: 4.562rem;
  --padding-16xl: 2.187rem;
  --padding-4xs: 0.562rem;
  --padding-10xl: 1.812rem;
  --padding-3xl: 1.375rem;
  --padding-10xs: 0.187rem;
  --padding-9xs-4: 0.212rem;
  --padding-9xs-5: 0.218rem;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-3xs: 10px;
  --br-86xl: 105px;
  --br-20xl: 39px;
  --br-11xl: 30px;
  --br-7xs: 6px;
  --br-980xl: 999px;
  --br-xl: 20px;
  --br-10xs: 3px;
  --br-5xs: 8px;
  --br-mid-1: 17.1px;
  --br-80xl: 99px;
  --br-base: 16px;
  --br-14xl-4: 33.4px;
}
.cursor-pointer{
  cursor: pointer;
}
